---
title: About Us
permalink: /about/

excerpt: "Since 2007, EdgePoint Learning has delivered custom eLearning solutions that work for businesses in all industries. Read on to learn about our approach."

hero-h1: Where The Good Stuff Happens

cards:
  - talk
  - demos
  - newsletter
  - solutions
---
<div class="grid-container">

  <div class="grid-x grid-margin-x content">
    <div class="cell">
      <h2>Our Approach To eLearning Development</h2>

      <figure class="featured-image float-right">
        {% asset 'logo/epl-stacked-combination-mark.svg' @inline %}
      </figure>

      <h3>Engagement-focused</h3>
      <p>As an eLearning development company, we know that employee training is only effective when it's engaging.</p>
      <p>That's the case if we're talking about front-line employees who need <a href="/blog/microlearning/">microlearning</a> resources right on their <a href="/blog/what-is-mlearning/">phones</a>, or full corporate compliance programs with a blended <a href="/blog/Instructor-led-Training-vs-eLearning/">online and instructor-led</a> approach.</p>

      <h3>Collaborative</h3>
      <p>We also know that it takes a thoughtful collaborative approach between our team and yours to create successful programs that meet the needs your company and employees. For every project, we ensure we're:</p>
      <ul>
        <li>Communicating often and honestly, making sure you know where we're at every step of the way</li>
        <li>Working with the latest tools and techniques to produce your high-quality training, fast</li>
        <li>Always developing your training with your end-goal in mind</li>
      </ul>

      <h3>Expertly-designed</h3>
      <p>Further, we know that creating the right program for your employees does take time and expertise. Our team approaches every new project with their years of training experience and your business needs guiding them.</p>
      <p>Our team's <a href="/blog/learning-objectives-ebook/">foundational knowledge</a> in instructional design allows us to map out the best way to organize your training topics. Innovative design practices help us stand apart from the look-and-feel of traditional training.</p>
      <p>We're here for better eLearning experiences, and we hope you are too. Ready to learn more about our recent success stories? Read on.</p>
      <p><a class="button" href="/stories">Success Stories</a></p>

      <h2>Meet The EdgePoint Learning Team</h2>
      <p>Headquartered in Scottsdale, Arizona, our team has an average of 12 years of experience in eLearning development.</p>
      <p>When you work with us, you’re collaborating with a stellar lineup of instructional designers, courseware developers, graphic designers, project managers, and voiceover talent. We come from a variety of backgrounds, but our love of learning has led us to providing the best in employee training programs to our clients.</p>

      <h3>The Faces Behind The Screen</h3>
    </div>
  </div>

  <div class="grid-x grid-margin-x grid-padding-x align-center">
    {% assign filtered_people = site.data.people %}
    {% for person in filtered_people %}
      {% include card-person.html %}
    {% endfor %}
  </div>

</div>
