---
title: About Us
permalink: /about/

excerpt: "Since 2007, EdgePoint Learning has delivered custom eLearning solutions that work for businesses in all industries. Read on to learn about our approach."

hero-h1: Where The Good Stuff Happens

cards:
  - talk
  - demos
  - newsletter
---
<div class="grid-container">

  <div class="grid-x grid-margin-x content">
    <div class="cell">
      <h2>EdgePoint Enables Successful Learning Programs</h2>

      <figure class="featured-image float-right">
        {% asset 'logo/epl-stacked-combination-mark.svg' @inline %}
      </figure>

      <p>Since 2007, EdgePoint Learning has been committed to delivering quality learning solutions that work–whatever your business needs.</p>
      <h3>Our Unique Approach</h3>
      <p>We believe that learning program success is grounded in strong business alignment, thoughtful program design and collaborative development. This means we communicate honestly, we work flexibly and we’re committed to helping you meet your training goals.</p>
      <h3>Our Team</h3>
      <p>Headquartered in Scottsdale, Arizona, our team has an average of 12 years of experience building great eLearning. When you work with us, you’re collaborating with a stellar lineup of instructional designers, courseware developers, graphic designers, project managers and voiceover talent.</p>
      <h3>Our Leadership</h3>
    </div>
  </div>

  <div class="grid-x grid-margin-x grid-padding-x align-center">
    {% assign filtered_people = site.data.people %}
    {% for person in filtered_people %}
      {% include card-person.html %}
    {% endfor %}
  </div>

  <div class="grid-x grid-margin-x content marginTopNone">
    <div class="cell">
      <h3 style="margin-top: 0;">Let’s Talk</h3>
      <p>We’re always happy to help you design creative solutions for your training needs. Even if you’re still in the early planning stages of your training initiative, we welcome the opportunity to talk with you, get creative and brainstorm some potential solutions.</p>
      <p><a href="/form/talk/">Contact</a> us to see how we can work together.</p>
    </div>
  </div>

</div>
