---
title: eLearning Blog
permalink: /blog/

excerpt: "On our eLearning blog, you’ll find informative and actionable insights into the learning industry. Subscribe to get the latest delivered to your inbox."

hero-h1: We Love Learning!

pagination:
  enabled: true
  title: ':title - page :num'
  permalink: '/page/:num/'
  per_page: 12
  sort_reverse: true
  trail:
    before: 4
    after: 4

cards:
  - talk
  - newsletter
---
<div class="grid-container">

  <div class="grid-x grid-margin-x content">
    <div class="cell">
      <h2>EdgePoint Enables Better Training Delivery</h2>

      <figure class="featured-image float-right">
        {% asset 'icons8/heart.svg' @inline %}
      </figure>

      <p>As learning experts, we are also voracious learners who never stop seeking knowledge. On our blog, you’ll find informative, actionable and fun insights about the learning industry—new trends, new technologies, best practices, customer stories and more.</p>
      <p>Have a topic you’d like us to delve into or to contribute yourself? <a href="/form/talk/">Click here to let us know.</a></p>
    </div>
  </div>

  <div class="grid-x grid-margin-x grid-padding-x align-center">
    {% for post in paginator.posts %}
      {% include card-teaser.html %}
    {% endfor %}
  </div>

  <div class="grid-x grid-margin-x grid-padding-x">
    {% include paginator.html %}
  </div>

</div>
