.error__jungle {
  padding-top: 6rem; 
  padding-bottom: 6rem; 
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 90px - 80px);

  .card--solution h3 {
    text-align: center;
    @include breakpoint(large) {
      text-align: left;
    }
  }
  .cell {
    z-index: 2;
  }
}

.error__monkey {
  position: absolute;
  top: -20px;
  margin-left: -60px
}