.card--epl {
  @extend .radius--rem;
  @extend .shadow;
  border: none;

  a {
    height: 100%;
    color: $black;    
  }

  .card__image {
    height: 208px;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      transition: all .2s ease-in-out;
    }
  }

  h3 {
    font-weight: 600;
    line-height: 1.1;
  }

  &:hover img {
    transform: scale(1.03);
  }

}