$color-blue-dark: #0b315e;
$color-blue-light: #186dd2;
$color-off-black: #434343;
$color-pink: #ffd6d3;
$color-yellow:  #fffad3;
$color-sky: #cee0f5; 
$color-green: #003a00;
$color-off-white: #f5f5f5;
$color-hint-of-yellow: #f5ffe5;
$color-lily-white: #ebfaff;
$color-fedora: #604e6e;
$color-spring-wood: #faf5f2;
$color-onahau: #ccf0ff;
$color-white-smoke: #f5f5f5;
$color-athens-gray: #eff0f3;
$color-fantasy: #fbf4ed;
$color-lemon-chiffon: #fffac9;
$color-soft-peach: #f9efef;
$color-varden: #fff6e0;
$color-remy: #ffecf3;
$color-tropical-blue: #c7e0f7;
$color-riptide: #93d5c6;
$color-chocolate: #d26d18;
$color-vivid-violet: #8e44ad;
$color-green: #26ae60;
$color-carmine-pink: #e74c3c;
$color-tropical-blue: #cce0f5;
$color-lemon-chiffon: #ffface;
$color-tangerine: #ffcf02;
$color-cosmos: #ffd6d3;
$color-mahogany: #c53800;