// STYLING TOP BAR
nav {
  z-index: 10;
}
.nav__bg {
  width: 100%;
  background-color: $white;
}

.sticky {
  .grid-x {
    @include xy-gutters($grid-margin-gutters, padding, top bottom, false);
    @include flex-align(right, middle);
  }

  &.is-stuck .grid-x {
    padding-top: 0;
    padding-bottom: 0;
    transition: padding 0.3s ease 0.1s;
  }
  
  .cta.dropdown {
    @include button-dropdown(0.5em, $primary-color, 0.3em);
    &:hover::after {
      animation:rotate-center 0.2s ease-in-out both;
      border-color: #666 transparent transparent;
    }
  }

  .cta.padding-right-0:hover svg { // search icon
    fill: $black;
  }
}


// MEGA MENU
.mega-menu {
  background-color: $white;;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  left: 0% !important;
  right: 0% !important;
  padding-top: $global-padding;
  border: none;

  .grid-x {
    margin: 0 auto;
    max-width: 800px;
  }

  .media-object {
    padding: $global-padding;
    transition: background-color 0.3s;

    img {
      height: 64px;
      width: 64px;
    }

    p {
      font-size: 0.875em;
    }
  
    .h6 {
      font-family: 'Mulish', $body-font-family;
      text-transform: uppercase;
      font-weight: 500;
      color: $primary-color;
    }
    .separator-left::after {
      transition: border-bottom-color 0.6s;
      border-bottom-color: $medium-gray;
    }  
    .subheader {
      color: #555;
      max-width: 35ch;
    }

    &:hover {
      background-color: #eff0f3;      
      
      img{
        &:nth-of-type(1) {
          @extend .hide;
        }
        &:nth-of-type(2) {
          display: inline-block !important;
          animation:pulsate-fwd .5s ease-in-out both;
        }
      }
      .h6 {
        color: $black;
      }
      .separator-left::after {
        animation:scale-in-hor-center .3s cubic-bezier(.25,.46,.45,.94) both;
        border-bottom-color: $dark-gray;
      }
    }
  }

}