// TITLE BAR (MOBILE)
.title-bar {
  @include flex-align(justify, middle);

  svg {
    vertical-align: text-bottom;
    fill: $white;
  }

  .logo path {
    fill: $medium-gray;
  }
}

// MOBILE MENU
.off-canvas {
  font-family: 'Mulish', $body-font-family;
  font-size: 0.875em;
  font-weight: 600;

  .close-button {
    font-weight: 600;
  }

  [data-drilldown] {
    margin-top: $global-margin * 3;

    li {
      padding-top: 0.5 * $global-padding;
      padding-bottom: 0.5 * $global-padding;
      &:not(:first-of-type) {
        border-top: 1px solid $light-gray;
      }
    }

    .js-drilldown-back {
      text-transform: uppercase;

      a::before {
        margin-bottom: 3px;
      }
    }  

    svg {
      vertical-align: middle;
      margin-right: 0.25em;
    }
  }
}
