// TITLE BAR (MOBILE)
.title-bar {
  @include flex-align(justify, middle);

  svg {
    vertical-align: text-bottom;
    fill: $white;
  }

  .logo path {
    fill: $medium-gray;
  }
}

// MOBILE MENU
.off-canvas {
  font-family: 'Mulish', $body-font-family;
  font-size: 0.875em;
  font-weight: 600;

  .close-button {
    font-weight: 600;
  }

  [data-drilldown] {
    margin-top: $global-margin * 3;

    li {
      padding-top: 0.5 * $global-padding;
      padding-bottom: 0.5 * $global-padding;
      &:not(:first-of-type) {
        border-top: 1px solid $light-gray;
      }
    }

    .js-drilldown-back {
      text-transform: uppercase;

      a::before {
        margin-bottom: 3px;
      }
    }  

    svg {
      vertical-align: middle;
      margin-right: 0.25em;
    }
  }
}

// STYLING TOP BAR
nav {
  font-family: 'Mulish', $body-font-family;
  z-index: 10;
}
.nav__bg {
  width: 100%;
  background-color: $white;
}

.sticky {
  .grid-x {
    @include xy-gutters($grid-margin-gutters, padding, top bottom, false);
    @include flex-align(right, middle);
  }

  &.is-stuck .grid-x {
    padding-top: 0;
    padding-bottom: 0;
    transition: padding 0.3s ease 0.1s;
  }
  
  a.button {
    // todo: make global button style
    @include border-rounded;
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    &.text {
      @include button-style($white, #eff0f3, $primary-color);
      &:hover {
        color: $black;
      }
    }
    &.primary {
      @include button-style($primary-color, $black, $white);
    }
    &.dropdown {
      @include button-dropdown(0.5em, $primary-color, 0.3em);
      &:hover::after {
        animation:rotate-center 0.2s ease-in-out both;
        border-color: #666 transparent transparent;
      }
    }
    &.padding-right-0:hover svg {
      fill: $black;
    }
  }
  
}

// MEGA MENU
.mega-menu {
  background-color: $white;;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  left: 0% !important;
  right: 0% !important;
  padding-top: $global-padding;
  border: none;

  .grid-x {
    margin: 0 auto;
    max-width: 800px;
  }

  .media-object {
    padding: $global-padding;
    transition: background-color 0.3s;

    svg {
      height: 64px;
      width: 64px;
      fill: #767676;
    }

    p {
      font-size: 0.875em;
    }
  
    .h6 {
      font-family: 'Mulish', $body-font-family;
      text-transform: uppercase;
      font-weight: 600;
      color: $primary-color;
    }
    .separator-left::after {
      transition: border-bottom-color 0.6s;
      border-bottom-color: $medium-gray;
    }  
    .subheader {
      color: #555;
      max-width: 35ch;
    }

    &:hover {
      background-color: #eff0f3;      
      
      svg{
        &:nth-of-type(1) {
          @extend .hide;
        }
        &:nth-of-type(2) {
          display: inline-block !important;
          animation:pulsate-fwd .5s ease-in-out both;
        }
      }
      .h6 {
        color: $black;
      }
      .separator-left::after {
        animation:scale-in-hor-center .3s cubic-bezier(.25,.46,.45,.94) both;
        border-bottom-color: $dark-gray;
      }
    }
  }

}

.mega-menu {
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
}