article.abstract {
  @include span(full);
  dl, section {
    @include span(full);
  }
  hgroup {
    @include span(full);
  }
  figure {
    display: none;
  }

  h2 {
    margin: 0 0 .5em 0;
    font-size: 1.8125em;
    font-weight: 600;
  }
  h3 {
    margin: 0;
    font-size: 1.1875em;
    color: $blue;
    font-weight: 300;
    span {
      display: block;
    }
  }
  dl {
    margin: .6em 0 0 0;
  }
  dt {
    letter-spacing: 0.1em;
    color: $grey-lighter;
  }
  dd {
    margin: 0;
    padding: 0 0 1em 0;
    &:last-of-type {
      padding: 0 0 .4em 0;
    }
  }
  svg {
    max-height: 64px;
    path {
      stroke: $grey-lighter;
    }
  }
  section {
    margin: 0 0 3em 0;
  }
  a.pill {
    margin-left: 0;
  }


  @include breakpoint($bp-6plus) {
    hgroup {
      @include span(10 of 12);
    }
    figure {
      @include span(2 of 12 last);
      display: block;
    }
  }


  @include breakpoint($bp-small) {
    hgroup {
      @include span(11 of 12);
    }
    figure {
      @include span(1 of 12 last);
    }
    h3 span {
      display: inline;
      margin-left: .6em;
      &:before {
        content: "\B7\A0";
        margin-right: .4em;
      }
    }
    dt {
      float: left;
      clear: left;
      width: 8em;
    }
    dd {
      margin : 0 0 0 8em;
    }
    a.pill {
      margin-left: 10em;
    }
  }
}
