section#bios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1em 0;
}

article.bio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  margin: 0 0 2em;
  padding: 0;
  width: 100%;

  img {
    border-radius: 50%;
  }

  figure {
    display: none;
  }

  // @include breakpoint($breakpoint-5h) {
  //   figure {
  //     width: 25%;
  //     img {
  //       width: 80%;
  //     }
  //   }
  //   section {
  //     width: 75%;
  //   }
  // }
  //
  @include breakpoint($breakpoint-full) {
    width: 28%;
    flex-flow: column;
    justify-content: flex-start;
  //
  //   figure,
  //   section {
  //     width: 100%;
  //   }
  //   h4 {
  //     margin-top: 1em;
  //   }
  }
}
