body.post {

  article {
    @include padding-horz;
  }

  header h1 {
    margin-top: 0.5em;
  }
  header h2 {
    font-weight: 300;
    color: $c-epl-grey-1;
    margin-bottom: 1.5em;
  }

  figure#post_featured_image img {
    width: 100%;
  }

  aside#post_related {
    small {
      font-weight: 300;
      font-size: 1em;
      margin-left: .5em;
    }
  }
}
