body.post {

  article {
    @include padding-horz;
  }

  h1 {
    margin-top: 0.5em;
  }
  h2 {
    font-weight: 300;
    color: $c-epl-grey-1;
    margin-bottom: 1.5em;
  }

  figure#post_featured_image img {
    width: 100%;
  }

  section#post_content,
  aside#post_related {
    margin: 1.5em 0;
    padding: 0 2em;
    max-width: 40em;
  }

}
