// article
//   a > h4 > small

article.blog_teaser {
  width: 100%;
  height: 180px;
  background-size: cover;
  box-shadow: inset 0px 0px 0px 180px rgba(12, 53, 103, 0.8);
  transition: box-shadow 0.2s;
  margin-bottom: 1em;
  padding: 1em;

  a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    @include f-brandon;
    color: white;
    text-align: center;
    transform: translate3d(0,10px,0);
    transition: transform 0.2s;
    small {
      font-size: 0.6em;
      display: block;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &:hover {
    box-shadow: inset 0px 0px 0px 180px rgba(0,0,0,0.7);
    h3 {
      transform: translate3d(0,-10px,0);
      small {
        opacity: 1;
      }
    }
  }

  @include mappy-bp(medium) {
    width: 49%;
    &:first-of-type,
    &:last-of-type:nth-of-type(even) {
      width: 100%;
    }
  }
}


section#paginator {
  width: 100%;

  margin-top: 1em;
  text-align: center;
  color: $c-epl-grey-1;

  button {
    text-transform: uppercase;
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

  span {
    padding: 0 1em;
    margin: 0 1em;
    border-right: 1px solid $c-epl-grey-1;
    border-left: 1px solid $c-epl-grey-1;
  }
}
