section.box_holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin: 2em 0;
  @include padding-horz;
}

aside.box {
  border: 1px solid $c-epl-grey-1;
  padding: 1em;
  margin: .5em 0;
  h4 {
    color: $c-epl-blue;
    margin-bottom: .4em;
  }
  figure {
    display: none;
  }
  svg {
    width: 80%;
    max-width: 100px;
    margin-right: 1em;
  }
  // a.pill:first-of-type {
  //   margin-right: 1em;
  // }
}

aside.box {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  article {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
  }

  @include mappy-bp(sixplus) {
    figure {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: flex-start;
      width: 25%;
    }
    section {
      width: 75%;
    }
    aside {
      width: 75%;
      margin-left: 25%;
    }
  }

  @include mappy-bp(medium) {
    width: 49%;
    svg {
      margin-top: 1em;
    }
    &:nth-last-child(1):nth-child(odd) {
      width: 100%;
      svg {
        margin-top: 0;
      }
    }
  }
}
