// 18, 24, 29, 35

article#content {
  h2 {
    @include serifa;
    font-weight: 400;
  }
  h2:first-of-type {
    font-size: 2em;
    margin-top: .5em;
  }
  h3 {
    @include serifa;
    font-weight: 500;
  }
  .featuredIcon {
    width: 10em;
    margin: 0 auto 1em;
  }
  figure + p,
  h3 + p {
    margin-top: 0;
  }
  @include breakpoint($breakpoint-5h) {
    .featuredIcon {
      width: 12em;
      float: right;
      margin: 0 0 0 2em;
    }
    .featuredIcon svg#heart {
      margin-top: -1em;
      margin-left: 2em;
      width: 8em;
    }
    .featuredIcon svg#rocket {
      width: 10em;
    }
  }
  @include breakpoint($breakpoint-full) {
    .featuredIcon svg#heart {
      margin-top: -1.5em;
    }
  }
}
