// susy start
$susy: (
  columns: 12,
  gutters: .25,
  container: 960px,
  global-box-sizing: border-box,
  // debug: (image:show)
);
$bp-6: 375px;
$bp-6plus: 414px;
$bp-small: 568px;
$bp-6landscape: 667px;
$bp-medium: 768px;
$bp-xlarge: 970px;
$bp-landscape: (width 568px 768px) (orientation landscape);
@include breakpoint-set('no query fallbacks', true); // $breakpoint-no-query-fallbacks: true;
@include border-box-sizing;
main {@include container; overflow: auto;}
// susy end


@mixin nova {
  font-family: "proxima-nova",Arial,sans-serif;
  //300,500,600
}
@mixin nova-condensed {
  font-family: "proxima-nova-condensed",sans-serif;
  font-weight: 400;
}
@mixin brandon {
  font-family: "brandon-grotesque",Arial,sans-serif;
  // 100, 300
}
@mixin museo {
  font-family: "museo-slab","courier new", serif;
  font-weight: 300;
}

$blue: rgb(18, 81, 158);
$blue-lighter: rgb(93, 134, 185);
$grey: rgb(88, 89, 91);
$grey-lighter: rgb(158,159,163);
$grey-lightest: rgb(230,230,230);

body {
  margin-left: auto;
  margin-right: auto;
  @include nova;
  font-weight: 300;
  color: $grey;
  font-size: 1em;
  line-height: 1.5em;
}
a {
  color: $blue;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
    // border-bottom: 1px solid $blue;
  }
}
figure { margin: 0; }
main > section {
  @include span(full);
  padding: 0 gutter();
  @include breakpoint($bp-xlarge){
    padding: 1px;
  }
}
