// the aside.card inherits #card_sampler from _brochure.scss

main#sampler article#content h2+p {
  margin-top: 0;
}

div.demo {
  margin-bottom: 2em;
  padding-bottom: 3em;
  border-bottom: 1px solid $epl-grey-2;

  li {
    list-style-type: circle;
  }

  p:nth-of-type(1) {
    margin-top: .5em;
  }
}
