article#elevator {
  @include nova;
  font-weight: 300;
  @include span(full);
  margin: 3em 0;
  h2 {
    @include span(full);
    margin: 0 0 0.4em 0;
    @include museo;
    color: $blue;
    sup {
      font-size: .6em;
    }
  }
  section {
    @include span(full);
    color: $grey;
  }
  p {
    margin: 0;
    line-height: 1.6em;
  }
  figure {
    text-align: center;
    svg {
      height: 140px;
    }
  }
  @include breakpoint($bp-6) {
    figure svg {
      height: 170px;
    }
  }


  @include breakpoint($bp-small) {
    figure {
      float: left;
      margin: 0 1em;
      svg {
        height: 200px;
        max-width: 200px;
      }
    }
  }
}

@include breakpoint($bp-small) {
  #page-contact #elevator p {
    margin-top: 1.4em;
  }
}

@include breakpoint($bp-medium) {
  #page-contact #elevator p {
    margin-top: 2em;
  }
}

@include breakpoint($bp-xlarge) {
  #elevator {
    figure {
      margin: 0 2em;
    }
  }

  #page-home #elevator p {
    margin-top: 1em;
  }

  #page-solutions #elevator {
    svg { margin-top: 1em; margin-bottom: 2em; }
  }
  #page-success #elevator p {
    margin-top: 1.6em;
  }
  #page-blog #elevator p {
    margin-top: 2em;
  }
  #page-contact #elevator p {
    margin-top: 3.4em;
  }
}
