footer {
  @include span(full);
  margin-top: 3em;
  padding: 2em gutter() 1em;
  background: $blue;
  color: white;

  aside {
    @include span(1 of 2);
    margin: 0;

    &:nth-of-type(2) {
      @include span(1 of 2 last);
    }

    &:last-of-type {
      @include span(full);
      text-align: center;
      margin: 1em 0 0;
      h4 {
        display: none;
      }
    }
  }
  h4 {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li, a {
    color: $grey-lightest;
    font-weight: 300;
  }


  @include breakpoint($bp-6landscape) {

    aside {
      @include span(1 of 3);

      &:nth-of-type(2) {
        @include span(1 of 3);
      }
      &:last-of-type {
        @include span(1 of 3);
        text-align: left;
        margin: 0;
        h4 {
          display: block;
        }
      }
    }
    h4 {
      @include nova-condensed;
      margin-bottom: 0.3em;
    }
  }

  @include breakpoint($bp-medium) {
    padding: 2em;

    h4 {
      @include nova;
    }
    li {
      font-size: 1em;
    }
  }

  @include breakpoint($bp-xlarge) {
    aside,
    aside:nth-of-type(2) {
      @include span(1 of 4);
    }
    aside:last-of-type {
      @include span(2 of 4 last);
    }
  }

}
