article#hero {
  @include span(full);
  background: $blue;
  color: white;
  h1 {
    text-align: center;
    line-height: 1.2em;
    @include brandon;
    font-weight: 100;
    span {
      display: block;
      white-space: nowrap;
    }
    b {
      @include nova;
      font-weight: 300;
      display: block;
    }
  }
}
body#page-home article#hero {
  h1 {
    #typed {
      font-weight: 300;
      letter-spacing: .02em;
    }
    span#typed,
    span.typed-cursor {
      display: inline;
    }
    span.typed-cursor {
      @include museo;
      font-weight: 300;
    }
    @include breakpoint($bp-landscape) {
      font-size: 8vw;
      line-height: 10vw;
      span:nth-of-type(2),
      span:nth-of-type(3) {
        display: inline;
      }
    }
  }
}
body#page-solutions,
body#page-success {
  h1 span {
    display: inline;
    white-space: normal;
    @include breakpoint($bp-6) {
      display: block;
      white-space: nowrap;
    }
  }
}
body#page-success,
body#page-blog,
body#page-contact {
  h1 {
    margin: 1.3em auto;
  }
}
body#page-about {
  article#hero {
    max-height: 480px;
    h1 {
      line-height: 0;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
}
