form.infusion-form {
  max-width: $breakpoint-6h;
  margin-bottom: 3em;
}
div.infusion-field {
  margin-bottom: 1em;
}
div.infusion-radio {
  margin-top: .2em;
  span {
    display: block;
    margin-left: 1em;
    margin-bottom: .2em;
  }
}
