// h2, figure, div
article#intro {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  margin: 2em 0;
  @include padding-horz;

  header,
  figure,
  section {
    width: 100%;
  }

  header {
    width: 100%;
  }

  h2 {
    @include f-museo;
    color: $c-epl-blue;
    sup {
      font-size: .6em;
    }
  }

  figure {
    text-align: center;
    margin-bottom: 1.5em;
    svg {
      width: 50%;
      max-width: 200px;
    }
  }

  @include mappy-bp(sixhorz) {
    figure {
      width: 25%;
      margin-bottom: 0;
      svg {
        width: 80%;
        max-width: 240px;
      }
    }
    section {
      width: 75%;
    }
  }

}

body#page-about-us article#intro {
  margin-bottom: 0;
  figure svg {
    width: 65%;
  }
}
