nav {
  margin: 1.4em 0 .8em;
  text-transform: uppercase;
  @include f-nova-condensed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  a:first-of-type {
    width: 75%;
    margin: auto;
  }
  a:nth-of-type(2),
  a:nth-of-type(3) {
    width: 50%;
  }
  a:nth-of-type(2n+1) {
    text-align: right;
  }
  a {
    line-height: 2em;
  }
  span {
    display: none;
  }

  @include breakpoint($breakpoint-6) {
    span {
      display: inline;
    }
  }

  @include breakpoint($breakpoint-5h) {
    margin: 1.4em 0 1.2em;
    a:first-of-type {
      width: 36px;
      margin: 0;
      overflow: hidden;
      svg {
        height: 36px;
      }
    }
    a:nth-of-type(2),
    a:nth-of-type(3) {
      width: auto;
    }
    a:nth-of-type(2n+1) {
      text-align: left;
    }
    a {
      line-height: 1rem;
    }
    #nav__logo__edgepoint, #nav__logo__learning {
      display: none;
    }
    span {
      display: none;
    }
  }

  @include breakpoint($breakpoint-6h) {
    span {
      display: inline;
    }
  }

  @include breakpoint($breakpoint-ipad) {
    a:first-of-type {
      width: auto;
      svg {
        height: 28px;
      }
    }
    #nav__logo__edgepoint, #nav__logo__learning {
      display: inherit;
    }
    span {
      display: none;
    }
  }

  @include breakpoint($breakpoint-max) {
    // @include f-nova;
    span {
      display: inline;
    }
  }

}
