nav {
  margin: 1.5em 0 1.4em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  @include proxima-nova-condensed;
  text-transform: uppercase;
  line-height: 1rem;

  a:first-of-type {
    margin: auto auto 1.2em auto;
    width: 100%;
    text-align: center;
    svg {
      height: 28px;
    }
  }
  a.active {
    text-decoration: underline;
  }
  &:hover > *:not(:hover) { //a hack to remove active underline
    text-decoration: none;
  }

  span {
    display: none;
  }

  @include breakpoint($breakpoint-5h) {
    margin: 1.4em 0 1.2em;

    a:first-of-type {
      width: 36px;
      margin: 0;
      overflow: hidden;
      svg {
        height: 36px;
      }
    }

    #nav__logo__edgepoint, #nav__logo__learning {
      display: none;
    }
    span {
      display: inline;
    }
  }

  @include breakpoint($breakpoint-ipad) {
    a:first-of-type {
      width: auto;
      svg {
        height: 28px;
      }
    }
    #nav__logo__edgepoint, #nav__logo__learning {
      display: inherit;
    }
  }

  @include breakpoint($breakpoint-max) {
    @include proxima-nova;
  }

}
