a.pill {
  margin: 1em 0 0 0;
  line-height:30px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  padding:0 2em;
  display:inline-block;
  border-radius: 50px;
  border: 1px solid $c-epl-blue;
  transition: all .25s ease;
  &:hover {
    background: $c-epl-blue;
    color: white;
  }
}
