// not in use
a.pill {
  margin: 1em 0 .5em;
  padding:0 1em;
  display:inline-block;
  line-height:30px;
  border-radius: 50px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid $epl-blue;
  background: $epl-blue;
  color: white;
  &:hover {
    background: $epl-blue;
    color: $picnic-white;
    text-decoration: none;
  }
}
