#post-header {
  background-size: 0 0;
  h1 {
    border-top: .1rem solid $epl-blue;
    border-bottom: .1rem solid $epl-blue;
    a {
      color: $epl-grey-0;
    }
  }
}

#ph3 {
  font-size: 1rem;
  margin: 2rem 0;
  color: $epl-grey;
}

#ph4 {
  display: none;
}


@include breakpoint($breakpoint-5h){

  div#post-header {
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-bottom: 2em;
    min-height: 540px;
    padding: 0;
    background-position: center;
    background-size: cover;
    h1 {
       background-color: rgba(18, 81, 158, 0.8);
       line-height: 1.2em;
       padding: 1rem;
       margin: 0 2rem 0 0;
       a {
         font-weight: 300;
         color: white;
         &:hover {
           text-decoration: none;
         }
       }
    }
  }

  div#ph2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 2rem 2rem 0;
  }

  div#ph3 {
    color: $epl-grey-0;
    font-size: 1rem;
    margin: 1rem 1rem 0 1rem;
  }
  div#ph4 {
    display: flex;
    width: 240px;
    margin: 1rem;
  }
};
