// article.post
//   figure#post_featured_image > img
//
//
//   header#post_header
//     h1
//     p
//
//   section#post_content
//
//   aside#post_related
//     h4
//     li > a

article#post {
  figure#post_featured_image img {
    width: 100%;
  }

  header {
    margin-bottom: 2em;
    h1 {
      padding-bottom: 0;
      font-size: map-get($type-scale-normal, 'h2');
      @include breakpoint($breakpoint-5h) {
        font-size: map-get($type-scale-5h, 'h2');
      }
    }
     p {
       margin-top: .5em;
      color: $epl-grey-1;
    }
  }
}
