.social-sharing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  a {
    line-height: 0;
  }
  a:hover {
    text-decoration: none;
  }

  svg {
    height: 1.5em;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
      border-radius: .2em;
    }
  }
}
