#teaser {
  a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    margin: 1em 0;
    border-bottom: 1px solid $epl-grey-2;
    &:hover h3 {
      text-decoration: underline;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  h3 {
    padding: 0;
  }
  p.date {
    display: none;
    margin: 0;
    color: $epl-grey-1;
  }
  p.excerpt {
    width: 100%;
    color: $picnic-black;
    margin-top: .5em;
  }

  @include breakpoint($breakpoint-5h) {
    p.date {
      display: inherit;
    }
  }
}
