$ms-ratio: 1.2;
$ms-base: 1.1em;

$type-scale-normal: (
  h1: ms(3),
  h2: ms(1),
  h3: ms(0),
  h4: ms(0)
);

$type-scale-5h: (
  h1: ms(6),
  h2: ms(3),
  h3: ms(1),
  h4: ms(0)
);

@each $h in h1, h2, h3, h4 {
  #{$h} {
    font-size: map-get($type-scale-normal, $h);
    @include breakpoint($breakpoint-5h) {
      font-size: map-get($type-scale-5h, $h);
    }
  }
}

nav,
footer,
aside.card p {
  font-size: 1rem;
}
