// nav > ul > li
nav {
  margin: 1em 0;
  ul {
    display: flex;
    flex-flow: row wrap;
  }
  li {
    flex: 1 auto;
    text-align: center;
  }
  li:first-of-type {
    width: 100%;
  }
  svg {
    width: 90%;
    max-width: 300px;
    margin-bottom: 1em;
  }
  a {
    text-transform: uppercase;
    color: $c-epl-blue;
    @include f-nova-condensed;
  }

  @include mappy-bp(small) {
    margin: .5em 0;
    ul {
      height: 48px;
      align-items: center;
    }
    li {
      text-align: right;
    }
    li:first-of-type {
      text-align: left;
      width: 64px;
      margin-left: .5em;
    }
    li:last-of-type {
      margin-right: .5em;
    }
    svg {
      width: 220px;
      height: 28px;
      margin-bottom: 0;
      margin-top: -4px;
    }
    #nav__logo__edgepoint,
    #nav__logo__learning {
      display: none;
    }
  }

  @include mappy-bp(medium) {
    li:first-of-type {
      width: auto;
    }
    #nav__logo__edgepoint,
    #nav__logo__learning {
      display: block;
    }
  }

  @include mappy-bp(xlarge) {
    li:first-of-type {
      margin-left: 0;
    }
    li:last-of-type {
      margin-right: 0;
    }
    a {
      @include f-nova;
    }
  }

}
