// article.story {
//   header { background: $c-flatui-1 }
//   figure { background: $c-flatui-12 }
//   svg { background: $c-flatui-11 }
//   section { background: $c-epl-blue-1 }
// }


section.story_holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin: 0;
}


article.story {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 3em;

  header {
    color: $c-epl-blue;
    h3 {
      color: $c-epl-grey;
      font-weight: 500;
    }
  }
  figure {
    display: none;
  }
  svg {
    width: 80%;
    max-width: 70px;
    path {
      stroke: $c-epl-grey-1;
    }

  }
  section {
    width: 100%;
  }
  p:last-of-type {
    margin-top: .3em;
  }

  @include mappy-bp(sixplus) {
    figure {
      order: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
    }
    section {
      width: 75%;
    }
  }

  @include mappy-bp(sixhorz) {
    figure {
      order: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 25%;
      svg {
        margin-right: 1.5em;
      }
    }
  }

}
