main {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.padding_horz {
  @include padding-horz;
}

footer li a:hover {
  text-decoration: underline;
}



body#page-about-us article.page_content {
  margin-top: 1em;
  p {
    margin-bottom: 1em;
  }
}



body#page-contact section#social_icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 5em;

  figure {
    width: 25%;
    text-align: center;
  }

  svg {
    width: 80%;
    max-width: 100px;
  }
}



body#page-home article.page_content {
  margin-top: 1em;

  h4 {
    font-size: 1.1em;
    line-height: 1em;
    margin: 0;
  }

  ul {
    margin-top: 1em;
    padding-left: $lg-pad;
    // list-style-type: none;
  }
  li {
    margin-bottom: 1em;
  }
}
section#clients {
  overflow: hidden;
  height: 132px;
  margin: 2.5em auto;
  figure {
    position: absolute;
    width: 4900px;
    animation: marquee 90s linear infinite;
  }
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-2400px); }
}
