// mappy-breakpoints
$breakpoints: (
  six     : 375px,
  sixplus : 414px,
  small   : 568px,
  sixhorz : 667px,
  medium  : 768px,
  xlarge  : 970px
);
$mappy-queries: (
  phonehorz : mappy-bp(max medium orientation landscape)
);


// fonts
@mixin f-nova {
  font-family: "proxima-nova",Arial,sans-serif;
  //300,500,600
}
@mixin f-nova-condensed {
  font-family: "proxima-nova-condensed",sans-serif;
  font-weight: 400;
}
@mixin f-brandon {
  font-family: "brandon-grotesque",Arial,sans-serif;
  // 100, 300
}
@mixin f-museo {
  font-family: "museo-slab","courier new", serif;
  font-weight: 300;
}

// colors
$c-epl-blue  : rgb(18, 81, 158);
$c-epl-blue-0: rgb(12, 53, 103);
$c-epl-blue-1: rgb(93, 134, 185);
$c-epl-grey  : rgb(88, 89, 91);
$c-epl-grey-1: rgb(158,159,163);
$c-epl-grey-2: rgb(230,230,230);

$c-flatui-1: #1abc9c;
$c-flatui-2: #48d381;
$c-flatui-3: #3498db;
$c-flatui-4: #9b59b6;
$c-flatui-5: #35495d;
$c-flatui-6: #16a085;
$c-flatui-7: #27ae60;
$c-flatui-8: #2980b9;
$c-flatui-9: #8e44ad;
$c-flatui-10: #2c3e50;
$c-flatui-11: #f1c40f;
$c-flatui-12: #e67e22;
$c-flatui-13: #e74c3c;
$c-flatui-14: #ecf0f1;
$c-flatui-15: #95a5a6;
$c-flatui-16: #DF712A;
$c-flatui-17: #d35400;
$c-flatui-18: #c0392b;
$c-flatui-19: #bdc3c7;
$c-flatui-20: #7f8c8d;

// misc
@mixin padding-horz {
  padding-left: 1em;
  padding-right: 1em;
  @include mappy-bp(xlarge) {
    padding-left: 0;
    padding-right: 0;
  }
}
