<article class="abstract" id="{{ include.source.icon }}">
  <hgroup>
    <h2>{{ include.source.name }}</h2>
    <h3>{{ include.source.category }}<span>{{ include.source.industry }}</span></h3>
  </hgroup>
  <figure>
    {% assign icon = site.data.icons[include.source.icon] %}
    {{ icon.svg }}
  </figure>
  <dl>
    <dt>CHALLENGE</dt><dd>{{ include.source.challenge }}</dd>
    <dt>SOLUTION</dt><dd>{{ include.source.solution }}</dd>
    <dt>RESULT</dt><dd>{{ include.source.result }}</dd>
  </dl>
  <section><a href="{{ include.source.link }}" class="pill">Read Abstract</a></section>
</article>
