{% if page.wave %}
  {% assign wave = page.wave | prepend: '/assets/svg/waves/wave-' | append: '.svg' %}
{% else %}
  {% assign wave = "assets/svg/waves/wave-bot-2.svg" %}
{% endif %}

<div class="billboard">

  {% svg '{{ wave }}' class='billboard__wave' width='100%' %}

  {% if page.headline %}<div class="billboard__gradient"></div>{% endif %}

  {% picture billboard {{ page.image }} class="billboard__image" style="object-position:{{ page.imagepos }}" --alt {{ page.title }} %}

  <div class="billboard__content grid-container">
    <div class="grid-x grid-padding-x align-left align-middle">
    
      {% if page.headline %}
        <div class="cell">
          <h1 class="h1 billboard__headline">{{ page.headline }}</h1>
          {% if page.tagline %}<p class="h2 billboard__tagline">{{ page.tagline }}</p>{% endif %}
          {% if page.cta1 %}
            <p class="margin-bottom-0">
              <a class="cta cta--blue-dark" href="{{ page.cta1-url }}">{{ page.cta1 }}</a>
              {% if page.cta2 %}<a class="cta cta--blue-light margin-left-1" href="{{ page.cta2-url }}">{{ page.cta2 }}</a>{% endif %}
            </p>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>

</div>