<section id="bios">

  <article class="bio">
    <figure><img src="/assets/images/corey-sm.jpg" srcset="/assets/images/corey-sm@2x.jpg" alt="Corey Bleich"></figure>
    <section>
      <h4>Corey Bleich</h4>
      <p>CEO</p>
      <p>After working for custom eLearning companies since 1999, Corey co-founded EdgePoint. His goal is to provide customers with creative solutions and help them leverage technological advances in their training programs. His 11 years of experience in suicide intervention and hostage negotiations provided Corey with a firm foundation for working with corporate America.</p>
    </section>
  </article>

  <article class="bio">
    <figure><img src="/assets/images/amber-sm.jpg" srcset="/assets/images/amber-sm@2x.jpg" alt="Amber Hartmann"></figure>
    <section>
      <h4>Amber Hartmann</h4>
      <p>Director of Product Development</p>
      <p>Amber Hartmann has been an eLearning Jedi since 1999, and currently wrangles project plans, scheduling, and the occasional customer for EdgePoint. When not working she can be found reading, watching super hero movies, or enjoying the Maine outdoors.</p>
    </section>
  </article>

  <article class="bio">
    <figure><img src="/assets/images/tyler-sm.jpg" srcset="/assets/images/tyler-sm@2x.jpg" alt="Tyler Campbell"></figure>
    <section>
      <h4>Tyler Campbell</h4>
      <p>Director of Technology</p>
      <p>Tyler Campbell oversees EdgePoint's creative direction, technology, and research and development. He has an artistic flair and a love of technology&mdash;and is a former DDT Ironman Heavymetalweight Championship title holder. Tyler has been with EdgePoint since 2007.</p>
    </section>
  </article>

</section>
