<section id="bios">

  <article class="bio">
    <figure><label for="modal_1"><img src="http://placehold.it/200x200"></label></figure>
    <h4>Corey Bleich</h4>
    <p>CEO</p>
    <p>Corey Bleich (code name Iron Fist) has been in elearning for so long he's pretty sure he invented it. He likes new technology, Legos, and is owned by a cat named Nelson.</p>
  </article>

  <article class="bio">
    <figure><label for="modal_2"><img src="http://placehold.it/200x200"></label></figure>
    <h4>Amber Hartmann</h4>
    <p>Director of Product Development</p>
    <p>Amber Hartmann has been an eLearning Jedi since 1999, and currently wrangles project plans, scheduling, and the occasional customer for EdgePoint. When not working she can be found reading, watching super hero movies, or enjoying the Maine outdoors.</p>
  </article>

  <article class="bio">
    <figure><label for="modal_3"><img src="http://placehold.it/200x200"></label></figure>
    <h4>Tyler Campbell</h4>
    <p>Director of Technology</p>
    <p>Tyler Campbell this is a sentence about being a normal human being. He oversees the overall creative direction of EdgePoint, media technology, and research and development. Tyler has been with EdgePoint since 2007.</p>
  </article>

</section>


<div class="modal">
  <input id="modal_1" type="checkbox" />
  <label for="modal_1" class="overlay"></label>
  <article>
    <header>
      <h3>Corey Bleich</h3>
      <label for="modal_1" class="close">&times;</label>
    </header>

    <img src="http://placehold.it/1000x1000">
    <p>Artwork by Johnny Appleseed</p>

  </article>
</div>

<div class="modal">
  <input id="modal_2" type="checkbox" />
  <label for="modal_2" class="overlay"></label>
  <article>
    <header>
      <h3>Amber Hartmann</h3>
      <label for="modal_2" class="close">&times;</label>
    </header>

    <img src="http://placehold.it/1000x1000">
    <p>Artwork by Johnny Appleseed</p>

  </article>
</div>

<div class="modal">
  <input id="modal_3" type="checkbox" />
  <label for="modal_3" class="overlay"></label>
  <article>
    <header>
      <h3>Tyler Campbell</h3>
      <label for="modal_3" class="close">&times;</label>
    </header>

    <img src="http://placehold.it/1000x1000">
    <p>Artwork by Johnny Appleseed</p>

  </article>
</div>
