<aside class="box" id="box_{{ box.name }}">
  <header><h4>{{ box.title }}</h4></header>
  <article>
    <figure>{% assign iconSvg = site.data.icons[box.icon]svg %}{{ iconSvg }}</figure>
    <section><p>{{ box.content }}</p></section>
  </article>
  <aside>
    {% if include.solution == 'true' %}
      <!-- <a href="{{ box.link-info }}" class="pill">LEARN MORE</a> -->
      <a href="{{ box.link-story}}" class="pill">READ STORY</a>
    {% else %}
      <a href="{{ box.link }}" class="pill">{{ box.button }}</a>
    {% endif %}
  </aside>
</aside>
