{% if story.solution %}
{% assign solution = site.data.solutions | where:'id', story.solution | first %}

<div class="story-card cell mediumer-6">
  <div class="grid-x">
    <div class="cell">
      <h3 class="h6">{{ story.client }}</h3>
    </div>
    <div class="cell medium-3 text-center">
      {% asset 'icons8/{{ solution.icon }}.svg' @inline %}
    </div>
    <div class="cell medium-auto story-text">
      <h4 class="h5">{{ solution.title }}</h4>
      <p>{{ story.snippet }}</p>
      <p><a href='{{ story.url }}' class='button'>Read Story</a></p>
    </div>
  </div>
</div>

{% endif %}
