<div class="cell card card--solution {{ include.class }}" style="background-color: {{include.color}};">

  <a href="{{ include.href }}">

    <div class="grid-x align-middle">
      
      <div class="cell large-shrink padding-right-1 text-center">
        {% svg {{include.icon}} width=128 %}
      </div>
      
      <div class="cell small-auto large-auto">
        <h3 class="h5 font-bold">{{ include.title }}</h3>
        <p class="margin-bottom-0">{{ include.copy }}</p>
      </div>
    
    </div>

  </a>

</div>