{% if page.cards %}

  <div class="grid-container cards">
    <div class="grid-x grid-margin-x grid-padding-x align-center">

      {% for page_card in page.cards %}
        {% for card in site.data.cards %}
          {% if page_card == card.id %}

            <div class="cta-card cell medium-6">
              <h5>{{ card.title }}</h5>
              {% asset 'icons8/{{ card.icon }}.svg' @inline %}
              <p>{{ card.desc }}</p>
              <a href="{{ card.link }}" class="button">{{ card.button }}</a>
            </div>

          {% endif %}
        {% endfor %}
      {% endfor %}

    </div>
  </div>

{% endif %}
