{% if page.solutions %}
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-x align-center">
      {% assign filtered_solutions = site.data.solutions | sort:'title' %}
      {% for solution in filtered_solutions %}
        {% include card-solution.html %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.stories %}
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-x align-center">
      {% assign filtered_stories = site.stories | sort:'solution' %}
      {% for story in filtered_stories %}
        {% include card-story.html %}
      {% endfor %}
    </div>
    <h2 class="marginTop">These companies like us.</h2>
    <div class="grid-x grid-margin-x grid-padding-x align-center">
      {% for client in site.data.clients %}
        {% include card-client.html %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.teasers %}
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-x align-center">
      {% for post in paginator.posts %}
        {% include card-teaser.html %}
      {% endfor %}
    </div>
    {% include paginator.html %}
  </div>
{% endif %}

{% if page.bios %}
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-x align-center">
      {% assign filtered_people = site.data.people | sort:'sort' %}
      {% for person in filtered_people %}
        {% include card-person.html %}
      {% endfor %}
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-margin-x content noMarginTop">
      <div class="cell">
        <h3 style="margin-top: 0;">Let’s Talk</h3>
        <p>We’re always happy to help you design creative solutions for your training needs. Even if you’re still in the early planning stages of your training initiative, we welcome the opportunity to talk with you, get creative and brainstorm some potential solutions.</p>
        <p><a href="/form/talk/">Contact</a> us to see how we can work together.</p>
      </div>
    </div>
  </div>
{% endif %}

{% if page.cards %}
  <div class="grid-container cards">
    <div class="grid-x grid-margin-x grid-padding-x align-center">
      {% for page_card in page.cards %}
        {% for card in site.data.cards %}
          {% if page_card == card.id %}
            {% include card-cta.html %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endif %}
