{% for sample in site.data.home-samples %}

  {% if sample.link %}

    <div class="cell medium-6 large-4 text-center home-sample">
      <a href="{{ sample.link}}">
        <div>
          {% asset 'icons8/{{ sample.icon }}.svg' @inline %}
        </div>
        <h3 class="h5">{{ sample.title }}</h3>
      </a>
    </div>

  {% else %}

    <div class="cell medium-6 large-4 text-center home-sample">
      <div>
        {% asset 'icons8/{{ sample.icon }}.svg' @inline %}
      </div>
      <h3 class="h5">{{ sample.title }}</h3>
    </div>

  {% endif %}

{% endfor %}
