<div class="cell measure person">
  <div class="media-object stack-for-small">
    <div class="media-object-section text-center">
      <div class="thumbnail">
        {% asset
          '{{ person.image }}'
          srcset:width='320 2x'
          srcset:width='160 1x'
          alt='{{ person.name }}'
        %}
      </div>
    </div>
    <div class="media-object-section">
      <h4 class="squat">{{ person.name }}</h4>
      <h4 class="h5 subheader">{{ person.role }}</h4>
      <p>{{ person.bio }}</p>
    </div>
  </div>
</div>
