<article class="story" id="demo_{{ demo.name }}">

  <figure>
    {% assign icons = site.data.icons | where:"key",demo.icon %}
    {% for icon in icons %}
      {{ icon.svg }}
    {% endfor %}
  </figure>

  <section>
    <header>
      <h3>{{ demo.title }}</h3>
      {% for solution in demo.solution %}
        <span>{{ solution }}</span>
      {% endfor %}
    </header>
    <p>{{ demo.content }}</p>
    <p><a class="pill small" href="{{ demo.link }}" class="bloop">View demo</a></p>
  </section>

</article>
