<footer class="footer--small hide-for-medium">
  <div class="grid-container full">

    <div class="grid-x align-justify">
      <div class="cell">
        <ul class="vertical menu accordion-menu" data-accordion-menu>
          <li>
            <a href="#">Our Solutions</a>
            <ul class="menu vertical nested is-active">
                <li><a href="{% link collections/_pages/solution-custom-elearning-course-development.html %}">Custom Development</a></li>
                <li><a href="{% link collections/_pages/solution-co-development-services.html %}">Co-Development</a></li>
                <li><a href="{% link collections/_pages/solution-elearning-consulting-services.html %}">Consulting Services</a></li>                
                <li><a href="{% link collections/_pages/solution-delivery-technology.html %}">Delivery Technology</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Our Site</a>
            <ul class="menu vertical nested">
                <li><a href="{% link collections/_pages/home.html %}">Home</a></li>  
                <li><a href="{% link collections/_pages/solutions.html %}">Solutions</a></li>
                <li><a href="{% link collections/_pages/stories.html %}">Success Stories</a></li>
                <li><a href="{% link collections/_pages/about.html %}">About</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="{% link collections/_pages/contact.html %}">Contact</a></li>
                <li><a href="{% link collections/_pages/demo.html %}">Book Demo</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Our Latest Posts</a>
            <ul class="menu vertical nested">
                {% for post in site.posts limit:4 %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
          </li>
          <li>
            <a href="#">Our Networks</a>
            <ul class="menu vertical nested">
                <li><a href="http://www.facebook.com/edgepointlearningllc">Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/edgepoint-learning">LinkedIn</a></li>
                <li><a href="https://twitter.com/EdgePointLearn">Twitter</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-x align-justify grid-padding-y footer__contact">
      <div class="cell shrink">
        <a href="{% link collections/_pages/home.html %}">{% asset 'logo/epl-lettermark.svg' @inline %}</a>
      </div>
      
      <div class="cell shrink">
        <a href="{% link collections/_pages/contact.html %}" class="button bright whiteout">Contact Us</a>
      </div>

      <div class="cell text-center">
        <p><b>+1 (480) 219-0052</b><br>7349 N Vía Paseo Del Sur #515-431<br>Scottsdale, AZ 85258</p>
        <p><small>© EdgePoint LLC.</small></p>
      </div>
    </div>

  </div>
</footer>

<footer class="footer--big show-for-medium">
    <div class="grid-container">
  
      <div class="grid-x align-justify align-middle grid-padding-y">
        <div class="cell auto footer--big__logo">
          <a href="{% link collections/_pages/home.html %}">{% asset 'logo/epl-horizontal-combination-mark.svg' @inline %}</a>
        </div>
        <div class="cell shrink footer--big__social">
          <a href="http://www.facebook.com/edgepointlearningllc">{% asset 'social/facebook.svg' @inline %}</a>
          <a href="https://www.linkedin.com/company/edgepoint-learning">{% asset 'social/linkedin.svg' @inline %}</a>
          <a href="https://twitter.com/EdgePointLearn">{% asset 'social/twitter.svg' @inline %}</a>
        </div>
      </div>

      <div class="grid-x grid-padding-x">

        <div class="cell shrink">
          <ul class="menu vertical">
            <li class="menu-text">Our Solutions</li>
            <li><a href="{% link collections/_pages/solution-custom-elearning-course-development.html %}">Custom Development</a></li>
            <li><a href="{% link collections/_pages/solution-co-development-services.html %}">Co-Development</a></li>
            <li><a href="{% link collections/_pages/solution-elearning-consulting-services.html %}">Consulting Services</a></li>                
            <li><a href="{% link collections/_pages/solution-delivery-technology.html %}">Delivery Technology</a></li>
          </ul>
        </div>

        <div class="cell shrink">
          <ul class="menu vertical">
            <li class="menu-text">Our Site</li>
            <li><a href="{% link collections/_pages/home.html %}">Home</a></li>  
            <li><a href="{% link collections/_pages/solutions.html %}">Solutions</a></li>
            <li><a href="{% link collections/_pages/stories.html %}">Success Stories</a></li>
            <li><a href="{% link collections/_pages/about.html %}">About</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="{% link collections/_pages/contact.html %}">Contact</a></li>
            <li><a href="{% link collections/_pages/demo.html %}">Book Demo</a></li>
          </ul>
        </div>
  
        <div class="cell auto large-6">
          <ul class="menu vertical">
            <li class="menu-text">Our Latest Posts</li>
            {% for post in site.posts limit:4 %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </div>
  
      <div class="grid-x align-justify align-bottom">
        <div class="cell shrink">
          <p><b>+1 (480) 219-0052</b><br>7349 N Vía Paseo Del Sur #515-431<br>Scottsdale, AZ 85258</p>
        </div>
        <div class="cell auto text-right">
          <p><a href="/contact/" class="button white">Contact Us</a></p>
        </div>
      </div>
  
      <div class="grid-x grid-padding-y align-center text-center">
        <div class="cell"><small>© EdgePoint LLC.</small></div>
      </div>
  
    </div>
  </footer>