<footer>

  <aside>
    <h4>Our Website</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/solutions/">Solutions</a></li>
      <li><a href="/success/">Success Stories</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/about/">About Us</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </aside>

  <aside>
    <h4>Our Networks</h4>
    <ul>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Vimeo</a></li>
    </ul>
  </aside>

  <aside>
    <h4>EdgePoint Learning</h4>
    <ul>
      <li>Innovative Learning Solutions for Better Business Results.</li>
      <li>&copy; EdgePoint LLC.</li>
    </ul>
  </aside>

</footer>
