<div class="cell contentWidth card radius shadow {{ include.class }}">

  <h2 class="font-bold h3 margin-top-1">{{ include.title }}</h2>

  <p class="separator-left padding-vertical-1">
    {{ include.copy }}
  </p>

  {% assign form = site.forms | where:"keap", include.keap  | first %}
  {{ form.content }}
  
  <p class="text-center subheader margin-top-1"><small>This site is protected by reCAPTCHA, and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</small></p>
</div>