<title>{% if page.title %}{% if page.title != "home" %}{{ page.title }} | {% endif %}{% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ site.keywords }}">

<!-- Web Application Manifest -->
<!-- <link rel="manifest" href="/assets/images/touch/manifest.json"> -->

<!-- favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/images/touch/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/images/touch/apple-touch-icon-60x60.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/images/touch/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/images/touch/apple-touch-icon-76x76.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/images/touch/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/images/touch/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/images/touch/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/images/touch/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/touch/apple-touch-icon-180x180.png" | prepend: site.baseurl }}">
<link rel="icon" type="image/png" href="{{ "/assets/images/touch/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ "/assets/images/touch/favicon-194x194.png" | prepend: site.baseurl }}" sizes="194x194">
<link rel="icon" type="image/png" href="{{ "/assets/images/touch/favicon-96x96.png" | prepend: site.baseurl }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ "/assets/images/touch/android-chrome-192x192.png" | prepend: site.baseurl }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ "/assets/images/touch/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
<link rel="manifest" href="{{ "/assets/images/touch/manifest.json" | prepend: site.baseurl }}">
<link rel="mask-icon" href="{{ "/assets/images/touch/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="{{ site.color }}">
<link rel="shortcut icon" href="{{ "/assets/images/touch/favicon.ico" | prepend: site.baseurl }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ "/assets/images/touch/mstile-144x144.png" | prepend: site.baseurl }}">
<meta name="msapplication-config" content="{{ "/assets/images/touch/browserconfig.xml" | prepend: site.baseurl }}">
<meta name="theme-color" content="{{ site.color }}">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ site.title }}">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">

<!-- facebook -->
<meta property="fb:app_id"      content="278156319211114">
<meta property="og:url"         content="{{ page.url | prepend: site.url }}" >
<meta property="og:title"       content="{% if page.title %}{% if page.title == "home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}{% else %}{{ site.title }}{% endif %}" >
<meta property="og:site_name"   content="{{ site.title }}">
<meta property="og:type"        content="website" /> <!-- website | article | blog -->
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property ="og:image"      content="{{ "/assets/images/touch/fbogimage02.jpg" | prepend: site.baseurl | prepend: site.url }}" >

<!-- twitter -->
<meta name="twitter:card"        content="summary">
<meta name="twitter:site"        content="@EdgePointLearn">
<meta name="twitter:title"       content="{% if page.title %}{% if page.title == "home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<!-- <meta name="twitter:image:src"   content="{{ "/assets/images/touch/mstile-144x144.png" | prepend: site.baseurl | prepend: site.url }}"> -->
<!-- <meta name="twitter:image:src"   content="EdgePoint Learning logo"> -->

<!--  g+ -->
<!-- <meta itemprop="name" content=""> -->
<!-- <meta itemprop="description" content=""> -->
<!-- <meta itemprop="image" content=""> -->

<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
