<div class="grid-container">
  <div class="heroic heroic--{{ page.id }}">

    <div class="grid-x grid-padding-y grid-padding-x align-right navigation show-for-medium">
      <div class="cell shrink">
        <ul class="dropdown menu" data-dropdown-menu>      
          <li>
            <a class="navigation__link navigation__link--home" href="/">
              {% asset 'logo/epl-lettermark.svg' class='navigation-icon' %} 
              <span>Home</span>
            </a>
          </li>  
          <li>
            <a class="navigation__link" href="/solutions/">Solutions</a>
            <ul class="menu">
              <li><a class="navigation__link navigation__link--submenu" href="/custom-elearning-course-development/">Custom Development</a></li>
              <li><a class="navigation__link navigation__link--submenu" href="/co-development-services/">Co-Development</a></li>
              <li><a class="navigation__link navigation__link--submenu" href="/elearning-consulting-services/">Consulting Services</a></li>                
              <li><a class="navigation__link navigation__link--submenu" href="/delivery-technology/">Delivery Technology</a></li>
            </ul>
          </li>
          <li><a class="navigation__link" href="/about/">About</a></li>
          <li><a class="navigation__link" href="/blog/">Blog</a></li>
          <li><a class="navigation__link" href="/contact/">Contact</a></li>
          <li><a class="navigation__link navigation__link--book-demo" href="/form/demo/">Book Demo</a></li>
        </ul>
      </div>  
    </div>

    {% include billboard.html %}

  </div>
  {% if page.id == 'home' %}
  <div class="grid-x grid-padding-y grid-margin-y grid-padding-x align-middle show-for-medium">
    <div class="cell shrink"><span class="h6 text-nowrap">Trusted by companies like:</span></div>
    <div class="cell auto">{% asset 'clients/molsoncoors.svg' width="80%" %}</div>
    <div class="cell auto">{% asset 'clients/botw-bnpp-default.svg' width="80%" %}</div>
    <div class="cell auto show-for-mediumer">{% asset 'clients/henryschein.svg' width="80%" %}</div>
    <div class="cell auto show-for-large">{% asset 'clients/pepsico-simple.svg' width="80%" %}</div>
  </div>
  {% endif %}
</div>