<!-- NAV FOR MEDIUM+ BREAKPOINT -->
<div class="grid-container heroic">
  
  <div class="grid-x grid-padding-y align-right show-for-medium">
    <div class="cell shrink">
      <ul class="dropdown menu" data-dropdown-menu>      
        <li>
          <a class="navigation-link navigation-link--home" href="/">
            {% asset 'logo/epl-lettermark.svg' class='navigation-icon'%} <span>Home</span>
          </a>
        </li>  
        <li>
          <a class="navigation-link" href="/solutions/">Solutions</a>
          <ul class="menu">
            <li><a class="navigation-link navigation-link--submenu" href="/custom-elearning-course-development/">Custom Development</a></li>
            <li><a class="navigation-link navigation-link--submenu" href="/co-development-services/">Co-Development</a></li>
            <li><a class="navigation-link navigation-link--submenu" href="/elearning-consulting-services/">Consulting Services</a></li>                
            <li><a class="navigation-link navigation-link--submenu" href="/delivery-technology/">Delivery Technology</a></li>
          </ul>
        </li>
        <li><a class="navigation-link" href="/about/">About</a></li>
        <li><a class="navigation-link" href="/blog/">Blog</a></li>
        <li><a class="navigation-link" href="/contact/">Contact</a></li>
        <li><a class="navigation-link navigation-link--book-demo" href="/contact/">Book Demo</a></li>
      </ul>
    </div>  
  </div>
  
  <div class="grid-x grid-padding-y grid-margin-x grid-padding-x">
    <div class="cell billboard">
      <h1>Let's make learning fun.</h1>
      <p class="h4">Employee training made for today's employees.</p>
      <p class="h5"><a class="billboard__button">Book Your Demo</a></p>
      <p class="h5"><a class="billboard__button billboard__button--secondary">Our Services</a></p>
    </div>
  </div>

</div>