<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

  <div class="grid-x">
    <div class="cell">
      <button class="close-button" aria-label="Close menu" type="button" data-close><span aria-hidden="true">&times;</span></button>
    </div>
  </div>

  <div class="grid-x off-canvas-menu">
    <div class="cell">

      <ul class="vertical menu">
        <li class="menu-text">Our Website</li>
        {% for navItem in site.data.sitemap %}
          {% if navItem.dropdown != "parent" %}
            <li>
              <a href="{{ navItem.url  | prepend: site.baseurl }}">{{ navItem.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <ul class="vertical menu">
        <li class="menu-text">Our Networks</li>
        {% for socialItem in site.data.social %}
          <li><a href="{{ socialItem.url }}">{{ socialItem.title }}</a></li>
        {% endfor %}
      </ul>

      <ul class="no-bullet">
        <li>
          {% asset 'logo/epl-stacked-combination-mark.svg' @inline %}
        </li>
        <li>EdgePoint Learning</li>
        <li><small>Innovative Learning Solutions<br>for Better Business Results.</small></li>
        <li><small>© EdgePoint LLC.</small></li>
      </ul>

    </div>
  </div>

</div>
