<div class="title-bar" data-responsive-toggle="example-menu">
  <button class="menu-icon" type="button" data-toggle="offCanvasNav"></button>
  <div class="title-bar-right">
    {% asset 'logo/epl-lettermark.svg' @inline %}
    </div>
</div>

<nav class="grid-container navigation">
  <div class="grid-x grid-padding-y grid-padding-x align-right show-for-medium">
    <div class="cell shrink">
      <ul class="dropdown menu icons" data-dropdown-menu>      
        <li>
          <a href="{% link collections/_pages/home.html %}" class="nav-icon nav-home">
            {% asset 'logo/epl-lettermark.svg' class='navigation-icon' %} 
            <span>Home</span>
          </a>
        </li>  
        <li>
          <a href="{% link collections/_pages/solutions.html %}">Solutions</a>
          <ul class="menu">
            <li><a href="{% link collections/_pages/solution-custom-elearning-course-development.html %}">Custom Development</a></li>
            <li><a href="{% link collections/_pages/solution-co-development-services.html %}">Co-Development</a></li>
            <li><a href="{% link collections/_pages/solution-elearning-consulting-services.html %}">Consulting Services</a></li>                
            <li><a href="{% link collections/_pages/solution-delivery-technology.html %}">Delivery Technology</a></li>
          </ul>
        </li>
        <li><a href="{% link collections/_pages/about.html %}">About</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="{% link collections/_pages/contact.html %}">Contact</a></li>
        <li><a class="button blackout" href="{% link collections/_pages/demo.html %}">Book Demo</a></li>
        <li><a data-open="searchModal" class="nav-icon nav-search">{% asset 'ui/search.svg' @inline %}</a></li>
      </ul>
    </div>  
  </div>
</nav>