<div class="grid-container">
  <div class="heroic">

    <div class="grid-x grid-padding-y grid-padding-x align-right show-for-medium navigation">
      <div class="cell shrink">
        <ul class="dropdown menu" data-dropdown-menu>      
          <li>
            <a class="navigation__link navigation__link--home" href="/">
              {% asset 'logo/epl-lettermark.svg' class='navigation-icon' %} 
              <span>Home</span>
            </a>
          </li>  
          <li>
            <a class="navigation__link" href="/solutions/">Solutions</a>
            <ul class="menu">
              <li><a class="navigation__link navigation__link--submenu" href="/custom-elearning-course-development/">Custom Development</a></li>
              <li><a class="navigation__link navigation__link--submenu" href="/co-development-services/">Co-Development</a></li>
              <li><a class="navigation__link navigation__link--submenu" href="/elearning-consulting-services/">Consulting Services</a></li>                
              <li><a class="navigation__link navigation__link--submenu" href="/delivery-technology/">Delivery Technology</a></li>
            </ul>
          </li>
          <li><a class="navigation__link" href="/about/">About</a></li>
          <li><a class="navigation__link" href="/blog/">Blog</a></li>
          <li><a class="navigation__link" href="/contact/">Contact</a></li>
          <li><a class="navigation__link navigation__link--book-demo" href="/form/demo/">Book Demo</a></li>
        </ul>
      </div>  
    </div>

    <div class="grid-x grid-padding-y grid-margin-x grid-padding-x align-center">
      <div class="cell billboard">
        <h1 class="h1 billboard__title">Let's make<br> learning fun.</h1>
        <p class="h2 billboard__subtitle">Employee training made<br> for today's employees.</p>
        <p class="text-center"><a class="billboard__button" href="/form/demo/">Book Your Demo</a></p>
        <p class="text-center"><a class="billboard__button billboard__button--secondary" href="/solutions/">Our Services</a></p>
      </div>
    </div>

  </div>
</div>