<div class="off-canvas off-canvas__nav position-left bg-blue-dark" id="offCanvasNav" data-off-canvas>

  <button class="close-button" aria-label="Close menu" type="button" data-close><span aria-hidden="true">&times;</span></button>
  <ul class="vertical menu">
    <li class="menu-text">Our Solutions</li>
    <li><a href="{% link collections/_pages/solution-custom-elearning-course-development.html %}">Custom Development</a></li>
    <li><a href="{% link collections/_pages/solution-co-development-services.html %}">Co-Development</a></li>
    <li><a href="{% link collections/_pages/solution-elearning-consulting-services.html %}">Consulting Services</a></li>                
    <li><a href="{% link collections/_pages/solution-delivery-technology.html %}">Delivery Technology</a></li>
  </ul>

  <ul class="vertical menu">
    <li class="menu-text">Our Website</li>
    <li><a href="{% link collections/_pages/home.html %}">Home</a></li>  
    <li><a href="{% link collections/_pages/solutions.html %}">Solutions</a></li>
    <li><a href="{% link collections/_pages/stories.html %}">Success Stories</a></li>
    <li><a href="{% link collections/_pages/about.html %}">About</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="{% link collections/_pages/contact.html %}">Contact</a></li>
    <li><a href="{% link collections/_pages/demo.html %}">Book Demo</a></li>
  </ul>

  <ul class="vertical menu">
    <li class="menu-text">Our Networks</li>                
    <li><a href="http://www.facebook.com/edgepointlearningllc">Facebook</a></li>
    <li><a href="https://www.linkedin.com/company/edgepoint-learning">LinkedIn</a></li>
    <li><a href="https://twitter.com/EdgePointLearn">Twitter</a></li>
  </ul>

  <ul class="no-bullet text-center">
    <li>
      {% asset 'logo/epl-stacked-combination-mark.svg' @inline %}
    </li>
    <li>EdgePoint Learning</li>
    <li><small>Innovative Learning Solutions<br> for Better Business Results.</small></li>
    <li><small>© EdgePoint LLC.</small></li>
  </ul>

</div>