<div class="grid-container show-for-medium">
  <div class="grid-x grid-padding-x ">
    
    <div class="cell clearfix>
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs breadcrumbs--epl float-right">
          <li><a href="/">Home</a></li>
          {% if page.breadcrumb == true %}
            <li><a href="/blog/">Blog</a></li>
          {% elsif page.layout == 'story' %}
            <li><a href="/stories/">Success Stories</a></li>
          {% endif %}
          <li><a href="{{ page.url }}"><span class="show-for-sr">Current: </span>{{ page.title }}</a></li>
        </ul>
      </nav>
    </div>
  
  </div>
</div>