<button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>

<ul class="vertical menu drilldown" data-drilldown>
  <li><a href="{% link collections/_pages/home.html %}">Home</a></li>
  <li>
    <a>Solutions</a>
    <ul class="menu vertical nested">
      <li><a href="{% link collections/_pages/solutions.html %}">Solutions</a></li>
      {% assign sorted = site.solutions | sort: 'nav-sort' %}
      {% for solution in sorted %}
        <li><a href="{{ solution.url }}">{{ solution.nav-name }}</a></li>
      {% endfor %}
      <!-- todo: this is a hack cuz the last item wasn't showing up! -->
      <li><a></a></li>
    </ul>
  </li>
  <li><a href="/blog/">Insights</a></li>
  <li>
    <a>About</a>
    <ul class="menu vertical nested">
      <li><a href="{% link collections/_pages/about.html %}">About</a></li>
      <li><a href="/about/#what-we-do">What We Do</a></li>
      <li><a href="/about/#our-team">Our Team</a></li>
      <li><a href="/about/#view-demos">View Demos</a></li>
      <li><a href="/about/#case-studies">Case Studies</a></li>
    </ul>
  </li>
  <li><a href="{% link collections/_pages/contact.html %}">Contact</a></li>
  <li><a href="{% link collections/_pages/consultation.html %}">Book A Consultation</a></li>
  <li><a data-open="searchModal">{% svg /assets/svg/ui/search.svg height=16 alt="search icon" %} Search</a></li>
</ul>