<footer>
  <div class="grid-container">

    <div class="show-for-marge grid-x grid-padding-y align-middle align-spaced">
      <div class="cell shrink"><a class="button padding-left-0" aria-label="Home" href="{% link collections/_pages/home.html %}">{% svg /assets/svg/logo/epl-lettermark.svg height=26 %}</a></div>
      <div class="cell shrink"><a class="button" href="{% link collections/_pages/solutions.html %}">Solutions</a></div>
      <div class="cell shrink"><a class="button" href="/blog/">Insights</a></div>
      <div class="cell shrink"><a class="button" href="{% link collections/_pages/about.html %}">About</a></div>
      <div class="cell shrink"><a class="button" href="{% link collections/_pages/contact.html %}">Contact</a></div>
      <div class="cell shrink"><a class="button" href="{% link collections/_pages/consultation.html %}">Demos</a></div>
      <div class="cell shrink"><a class="button" data-open="searchModal">{%svg /assets/svg/ui/search.svg height=26 alt="search icon" style="fill:#555555" %}</a></div>
      <div class="cell auto"></div>
      <div class="cell shrink"><a class="button" href="http://www.facebook.com/edgepointlearningllc" aria-label="Facebook">{%svg /assets/svg/social/facebook.svg height=26 alt="Facebook icon" %}</a></div>
      <div class="cell shrink"><a class="button" href="https://www.linkedin.com/company/edgepoint-learning" aria-label="LinkedIn">{%svg /assets/svg/social/linkedin.svg height=26 alt="LinkedIn icon" %}</a></div>
      <div class="cell shrink"><a class="button padding-right-0" href="https://twitter.com/EdgePointLearn" aria-label="Twitter">{%svg /assets/svg/social/twitter.svg height=26 alt="Twitter icon" %}</a></div>
    </div>

    <div class="hide-for-marge grid-x grid-padding-y padding-top-1">
      <div class="cell">
        <a class="button" href="{% link collections/_pages/home.html %}">{% svg /assets/svg/logo/epl-horizontal-combination-mark.svg height=26 %}</a>
      </div>
    </div>

    <div class="hide-for-marge grid-x grid-padding-y align-justify align-bottom padding-bottom-1">
      <div class="cell auto">
        <ul class="menu vertical">
          <li><a href="{% link collections/_pages/home.html %}">Home</a></li>
          <li><a href="{% link collections/_pages/solutions.html %}">Solutions</a></li>
          <li><a href="/blog/">Insights</a></li>
          <li><a href="{% link collections/_pages/about.html %}">About</a></li>
          <li><a href="{% link collections/_pages/contact.html %}">Contact</a></li>
          <li><a href="{% link collections/_pages/consultation.html %}">Demos</a></li>
        </ul>
      </div>
      <div class="cell auto">
        <ul class="menu vertical">
          <li><a class="separator-left" data-open="searchModal" href="#">{% svg /assets/svg/ui/search.svg height=26 %} Search</a></li>
          <li><a href="http://www.facebook.com/edgepointlearningllc">{%svg /assets/svg/social/facebook.svg height=26 alt="Facebook icon" %} Facebook</a></li>
          <li><a href="https://www.linkedin.com/company/edgepoint-learning">{%svg /assets/svg/social/linkedin.svg height=26 alt="LinkedIn icon" %} LinkedIn</a></li>
          <li><a href="https://twitter.com/EdgePointLearn">{%svg /assets/svg/social/twitter.svg height=26 alt="Twitter icon" %} Twitter</a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>