<div class="title-bar hide-for-marge">
    <button class="menu-icon" type="button" aria-label="Toggle Navigation Menu" data-open="offCanvas"></button>
    {% svg /assets/svg/logo/epl-horizontal-combination-mark.svg height=18 class="logo" %}</span>
    <a data-open="searchModal" href="#">{%svg /assets/svg/ui/search.svg height=22 alt="search icon" %}</a>
</div>

<nav class="show-for-marge" data-sticky-container>
  <div class="nav__bg sticky shadow" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">

    <div class="grid-container">
      <div class="grid-x"> <!-- https://get.foundation/sites/docs/sticky.html -->

        <div class="cell auto"><a href="{% link collections/_pages/home.html %}"            class="cta cta--transparent padding-left-0" aria-label="Home">{% svg /assets/svg/logo/epl-lettermark.svg height=32  class="hide-for-large" %}{% svg /assets/svg/logo/epl-horizontal-combination-mark.svg height=32 class="show-for-large" %}</a></div>
        <div class="cell shrink"><a href="{% link collections/_pages/home.html %}"          class="cta cta--gray" aria-label="Home">Home</a></div>
        <div class="cell shrink"><a href="{% link collections/_pages/solutions.html %}"     class="cta cta--gray dropdown" data-toggle="mega-menu-solutions">Solutions</a></div>
        <div class="cell shrink"><a href="/blog/"                                           class="cta cta--gray">Insights</a></div>
        <div class="cell shrink"><a href="{% link collections/_pages/about.html %}"         class="cta cta--gray dropdown" data-toggle="mega-menu-about">About</a></div>
        <div class="cell shrink"><a href="{% link collections/_pages/contact.html %}"       class="cta cta--gray">Contact</a></div>
        <div class="cell shrink"><a href="{% link collections/_pages/consultation.html %}"  class="cta">Book A Consultation</a></div>
        <div class="cell shrink"><a data-open="searchModal" href="#"                        class="cta cta--transparent padding-right-0">{% svg /assets/svg/ui/search.svg height=26 alt="search icon" %}</a></div>
      </div>
    </div>

    <div class="mega-menu dropdown-pane" id="mega-menu-solutions" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:0">
      <div class="grid-container">
        <div class="grid-x align-center medium-up-2">
          {% assign sorted = site.solutions | sort: 'nav-sort' %}
          {% for solution in sorted %}
            {% include nav-mega-menu-item.html name=solution.nav-name info=solution.nav-short href=solution.url icon=solution.nav-icon iconColor=solution.nav-iconColor %}
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="mega-menu dropdown-pane" id="mega-menu-about" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:0">
      <div class="grid-container">
        <div class="grid-x align-center medium-up-2">
          {% for about in site.data.about %}
            {% include nav-mega-menu-item.html name=about.name info=about.info href=about.href icon=about.icon iconColor=about.iconColor %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</nav>