{% if paginator.total_pages > 1 %}  
  <div class="cell">
    <ul class="pagination text-center" role="navigation" aria-label="Pagination">

        {% if paginator.previous_page %}
        <li class="pagination-previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next page">Newer Posts</a>
        </li>
        {% else %}
          <li class="pagination-previous disabled">Newer Posts</li>
        {% endif %}

        {% if paginator.page_trail %}
          {% for trail in paginator.page_trail %}
            {% if page.url == trail.path %}
              <li class="current"><span class="show-for-sr">You're on page </span>{{ trail.num }}</li>
            {% else %}
              <li>
                <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}" aria-label="Page {{trail.num}}">{{ trail.num }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if paginator.next_page %}
        <li class="pagination-next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next page">Older Posts</a>
        </li>
        {% else %}
          <li class="pagination-next disabled">Older Posts</li>
        {% endif %}

    </ul>
  </div>
{% endif %}
