---
title: Meet The EdgePoint Learning Team
permalink: /about/
meta: Since 2007, EdgePoint Learning has provided boutique, end-to-end solutions for employee training needs. Read on to learn about our approach.

image: /about/the-crew-billboard-villain-b.jpg
imagepos: "right center"
wave: bot-3

headline: Meet The<br> EdgePoint Team
#tagline: Meet the EdgePoint team
cta1: Our Solutions
cta1-url: /solutions/
cta2: View Demos
cta2-url: /form/demo/
---
{% include billboard.html %}

<div class="grid-container margin-bottom-3">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="cell content">
      <h2 id="what-we-do" class="font-bold noWidows">Our approach to learning experiences</h2>
      <p>At EdgePoint, we specialize in creating killer user experiences for learners. Our learning programs don't just meet a list of basic learning objectives. Our experts examine every point of contact between your employees and their learning opportunities. We ensure there's value at every interaction, with rich, contextual, and engaging information for them to access on-demand and in the flow of work.</p>
      <p>{% picture blog blog/2019-01-16-get-employees-excited-about-training.jpg class="margin-vertical-1" --alt Our approach to learning user experiences %}</p>
      <h3>People-centered</h3>
      <p>We build learning experiences for people. That might seem obvious, but we place it at the very center of our project strategy because too often employee training becomes formulaic, rigid, and outdated… quickly.</p>
      <p>That's precisely when employee training becomes boring. Another dreaded checkmark at the end of your employees' days, rather than an opportunity for them to grow their skills or access on-demand performance support. At EdgePoint, we don't make assumptions. Instead, our team approaches every new project with our years of training experience and your unique business needs guiding us.</p>  
      <h2>Built for your workforce</h2>
      <p>We know that what works for an on-the-ground industrial team simply won't work for a remote, deskless workforce. Our expert knowledge in <a href="https://www.edgepointlearning.com/blog/adult-learning-theory/">adult learning theory</a> and instructional design allows us to map out the best way to organize your training approach.</p>
      <p>Innovative design practices help us stand apart from the look-and-feel of traditional training. And, our focus on people means we leverage the newest learning technologies to meet them exactly where they are. </p>
      <p>{% picture blog blog/2019-02-20-ergonomics-training.jpg class="margin-vertical-1" --alt Built for your workforce %}</p>
    </div>
  </div>
</div>


<div class="topo">
  <div class="grid-container">
    <div class="grid-x align-center align-middle grid-margin-x grid-margin-y">
      <div class="cell">
        <p class="h1 serif text-center" style="margin-top: 3em; margin-bottom: 3em;">We create learning experiences<br> that people actually <em style="color: #ffcf02;">enjoy</em> using.</p>
      </div>
    </div>
  </div>
</div>

<div class="wave wave--bot--5--mirror" style="background-color: #e6e6e6;">
  <div class="grid-container margin-bottom-2 padding-bottom-3">
    
    <div class="grid-x align-center align-middle grid-margin-x grid-margin-y">
      <div class="cell content margin-top-2 margin-bottom-3">
        <h2>Explore</h2>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y align-center marge-up-3">
      {% include card.html
        class = 'card--third'
        title = 'Our Learning Solutions'
        subtitle = 'Designed for your needs'
        url = '/solutions/'
        image = '/blog/2018-12-05-cross-training-employees.jpg'
      %}

      {% include card.html
        class = 'card--third'
        title = 'PinPoint'
        subtitle = 'Our mobile microlearning platform'
        url = 'https://www.pinpointworkforce.com/'
        image = '/page-hero/solutions--mobile-pinpointwebsite.jpg'
      %}

      {% include card.html
        class = 'card--third'
        title = "Let's Start Your Next Project"
        subtitle = "Get in touch today"
        url = '/contact/'
        image = '/blog/2018-09-17-588064.jpg'
      %}
    </div>

  </div>
</div>

<div class="grid-container margin-bottom-3">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="cell content">
      <h3>Client-focused</h3>
      <p>It takes a thoughtful, collaborative approach between our team and yours to create engaging and successful learning experiences. Whether you need to develop an entire training or certification program from scratch, or just need an extension of your team to help complete a project or temporarily expand your development capacity without adding headcount, EdgePoint is here to help.</p>
      <p>For every project, we communicate often and honestly, making sure you know where we're at every step of the way. We also use the latest learning and delivery technologies to get training to your employees right in the flow of work. Finally, we rely on our world-class development process that ensures we complete your projects on time and on budget.</p>

      <p>{% picture blog blog/2019-12-11-employee-engagement-research.jpg class="margin-vertical-2" --alt Up for a challenge %}</p>

      <h3>Always up for a challenge </h3>
      <p>Providing custom solutions is what we do. As a boutique, customer service-centric organization, we are positioned to be more flexible and innovative than larger companies. Whether it’s a large-scale training program you need to design, build, and launch ASAP or an upgrade to your existing courses to be more engaging and relevant to your learners; we have a large collection of strategies, tactics, tools, and technologies to work from.</p>
      <p>Our team has built entire new technology platforms in-house, like our mobile precision microlearning platform, <a href="https://www.pinpointworkforce.com/">PinPoint</a>. We design and develop training with the latest learning tools, like augmented reality, microlearning, and location-based performance support. We employ technologies to meet employees in the flow of work, like mobile learning and virtual instructor-led training.</p>
    </div>
  </div>
</div>

<div class="topo">
  <div class="grid-container">
    <div class="grid-x align-center align-middle grid-margin-x grid-margin-y">
      <div class="cell">
        <p class="h1 serif text-center" style="margin-top: 3em; margin-bottom: 3em;">We’re ready to grow with you<br> and we’re <em style="color: #fa899d;">always</em> up for a challenge.</p>
      </div>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-x grid-padding-y align-center">
    {% include form.html title = "Contact" copy = "We're ready for better employee training experiences, and your employees are too. Get in touch today to learn how EdgePoint can help with your next project." keap = 975 %}
  </div>
</div>

<div class="grid-x margin-top-3" style="background-image: linear-gradient(to top, #243d3a, #678a83);">
  <div class="cell content text-center" id="our-team">
    {% picture blog-wide about/the-crew-content.jpg style="max-width: 1170px" --alt The EdgePoint Learning team %}
  </div>
</div>

<div class="grid-container">

  <div class="grid-x grid-padding-x align-center">
    <div class="cell content">
      <h2>Meet The EdgePoint Learning Team</h2>
      <p>Headquartered in Scottsdale, Arizona, our eLearning professionals have an average of 15+ years of experience creating learning experiences that employees love.</p>
      <p>When you work with us, you’re collaborating with an expert lineup of learning technology developers, instructional designers, courseware developers, graphic designers, project managers, voiceover talent, video producers, and more. We come from a variety of backgrounds, but our love of learning theory and technology unites us in building killer learning experiences for today's employees.</p>
      <h2>The Faces Behind The Screen</h2>
    </div>
  </div>

  <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y marge-up-2 align-center margin-top-1">
    {% for person in site.data.people %}
      <div class="cell card radius--rem topo contentWidth margin-bottom-3">
        <p class="text-center">{% picture third {{ person.image }} style="max-width: 240px;" class="rounded shadow margin-horizontal-1 margin-vertical-1" --alt {{ person.name }} %}</p>
        <h3 class="h4 font-bold margin-bottom-0">{{ person.name }}</h3>
        <h4 class="h5 subheader">{{ person.role }}</h4>
        <p class="margin-bottom-0">{{ person.bio }}</p>
      </div> 
    {% endfor %}
  </div>

  <div class="grid-x grid-padding-x align-center">
    <div class="cell content margin-bottom-0">
      <h2 id="case-studies">Case Studies</h2>
    </div>
  </div>

</div>

<div class="topo wave wave--top--2 padding-vertical-3">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y align-center padding-bottom-3">

      {% for story in site.stories %}      
        <div class="cell card radius shadow contentWidth margin-bottom-3">
          <a href="{{ story.url }}" style="color: #0a0a0a;">
            <p class="text-center">{% picture third {{ story.logo }} style="max-width: 240px;" class="margin-horizontal-2 margin-vertical-2" --alt {{ story.title }} %}</p>
            <h2 class="h5 font-bold">{{ story.title }}</h2>
            <p class="margin-bottom-0">{{ story.meta }}</p>
          </a>
        </div> 
      {% endfor %} 

    </div>
  </div>
</div>