---
title: eLearning Blog
permalink: /blog/

excerpt: "On our eLearning blog, you’ll find informative and actionable insights into the learning industry. Subscribe to get the latest delivered to your inbox."

headline: Always-On eLearning Blog
id: blog

pagination:
  enabled: true
  title: ':title - page :num'
  permalink: '/page/:num/'
  per_page: 12
  sort_reverse: true
  trail:
    before: 4
    after: 4

cards:
  - talk
  - newsletter
---
<div class="grid-container">

  <div class="grid-x grid-margin-x grid-padding-x align-center">
    {% for post in paginator.posts %}
      {% if forloop.index == 1 %}
        <div class="cell teaser teaser--primary">
          <a href="{{ post.url | prepend: site.baseurl }}" class="teaser-image">
            {% asset
              '{{ post.image }}'
              magick:resize='1200'
              magick:quality='92'
              alt='{{ post.title }}'
            %}
            <div class="teaser-text">
              <h3>{{ post.title }}</h3>
              <p class="featured">{{ index }} {{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}</p>
            </div>
          </a>
        </div>
      {% elsif forloop.index == 2 or forloop.index == 3 %}
        <div class="cell medium-6 teaser teaser--secondary">
          <a href="{{ post.url | prepend: site.baseurl }}" class="teaser-image">
            {% asset
              '{{ post.image }}'
              magick:resize='740'
              magick:quality='90'
              alt='{{ post.title }}'
            %}
            <div class="teaser-text">
              <h3 class="h5">{{ post.title }}</h3>
              <p>{{ index }} {{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}</p>
            </div>
          </a>
        </div>  
      {% else %}
        <div class="cell medium-6 large-4 teaser">
          <a href="{{ post.url | prepend: site.baseurl }}" class="teaser-image">
            {% asset
              '{{ post.image }}'
              magick:resize='570'
              magick:quality='80'
              alt='{{ post.title }}'
            %}
            <div class="teaser-text">
              <h3 class="h5">{{ post.title }}</h3>
              <p>{{ index }} {{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}</p>
            </div>
          </a>
        </div>  
      {% endif %}
    {% endfor %}
  </div>

  <div class="grid-x grid-margin-x grid-padding-x">
    {% include paginator.html %}
  </div>

  <div class="grid-x grid-margin-x grid-padding-x content">

    <div class="cell large-7">
      <h2 class="h3">We Love Learning!</h2>
      <p>As learning experts, you can't pry the books and blogs and research articles out of our hands. (Or podcasts out of our ears.) We're always focused on learning and we never stop seeking knowledge on the topics that are most relevant to employee engagement, motivation, and knowledge retention.</p>
      <p>On the EdgePoint eLearning blog, you’ll find informative, actionable, and fun insights into the learning industry. What does that mean for us? Posts that tie into recent mainstream news stories. In-depth looks into the newest trends and technologies that are shaping the future of employee training. And, it also means articles that cover best practices, customer stories, employee engagement tips, and more. You'll also get updates about our newest offerings and partnerships.</p>
      <p>Make sure to <a href="/form/newsletter/">subscribe now</a> to get the latest eLearning blogs and news delivered straight to your inbox.</p>
      <p>Have a topic you’d like us to cover? Or, do you want to submit a guest post to our eLearning blog? <a href="/contact/">We want to hear from you!</a></p>
    </div>

    <div class="cell large-5 show-for-large">
      <figure class="blogheart">
        {% asset 'icons8/heart.svg' @inline %}
      </figure>
    </div>

  </div>

</div>
