---
title: Contact 
permalink: /contact/
meta: Let's talk about your next employee training project. Contact EdgePoint today at (480) 219-0052 to learn more about our learning solutions.

image: /page-hero/GettyImages-56516072.jpg
wave: bot-6

headline: Let's talk 
tagline: It's time to start your next project
cta1: Our Approach
cta1-url: /about/
cta2: View Demos
cta2-url: /form/demo/
---
{% include billboard.html %}

<div class="grid-x grid-margin-y grid-padding-x grid-padding-y align-center margin-vertical-3">
    <div class="cell content">
      <p>We're always ready to talk about your next employee training project or program. We'll start with a quick call to get to know about your needs and see how we can help. Our team will guide you through your options so you can find the learning experiences that are the right fit for your workforce.</p>
    </div>
</div>

<div class="grid-x grid-margin-y grid-padding-x grid-padding-y align-center topo wave wave--top--5 wave--bot--1">
  {% include form.html title = "Let's Talk" keap = 979 %}
</div>

<div class="grid-container margin-bottom-3">
  <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y align-center">
    <div class="cell content">
      <h2>Follow Us On Social</h2>
    </div>
  </div>
  <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y align-center small-up-3 contentWidth" style="margin-left: auto; margin-right: auto">
    {% for social in site.data.social %}
      {% assign blob = forloop.index | prepend:'/assets/svg/blobs/blob-' | append:'.svg' %}
      {% include card--blob.html href = social.href icon = social.iconColor text = social.name %}
    {% endfor %}
  </div>
</div>


<div class="grid-container margin-bottom-3">
  <div class="cell content">
    <h2>Send Us A Postcard</h2>
    <ul class="no-bullet margin-vertical-2">
      <li class="font-bold">EdgePoint Learning</li>
      <li>7349 N. Via Paseo Del Sur</li>
      <li>#515-431</li>
      <li>Scottsdale, AZ 85258</li>
    </ul>
  </div>
</div>