---
title: Check Us Out
is-did: 686
permalink: /form/demo/
sitemap: true
noindex: false

id: demo

excerpt: "Ready to learn more about how we can help with your specific training materials or needs? Find our demo library below to see more of our courses in action."

headline: "See our courses<br> in action."
tagline: "View our library or<br> book a one-on-one demo."
image: heroic/GettyImages-825083146.jpg
cta1: Book Your Demo
cta1-url: "#form"
cta2: Contact Us
cta2-url: /contact/

newsletterfooter: false
---
<div class="grid-container">
  <div class="grid-x grid-margin-x content">

    <div class="cell large-4 xlarge-3">
      <h2>Find Your Style</h2>
    </div>
    <div class="cell large-8 xlarge-9">
      <p>At EdgePoint Learning, we transform complex training topics into engaging, interactive eLearning opportunities that are made with today's employees in mind. Want to see more of what we do? Check out our demo videos below.</p>   
    </div>

  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y marginTopEM">

    {% assign demos = site.demos | where:'type', 'lifting' %}
    {% assign sorted-demos = demos | sort:'order' %}
    {% for demo in sorted-demos %}

      <div class="cell large-4 teaser teaser--demo">
        <a href="{{ demo.url | prepend: site.baseurl }}">
          <div class="grid-x">
            <div class="cell medium-4 large-12 teaser__image">
              {% asset
                '{{ demo.thumbnail }}'
                magick:resize='570'
                alt='{{ demo.title }}'
              %}
            </div>
            <div class="cell medium-8 large-12 teaser__text">
              <h3 class="h5">{{ demo.title | remove: 'Proper Lifting - '}}</h3>
              <p>{{ index }} {{ demo.excerpt | remove: '<p>' | remove: '</p>' | strip_html }}</p>
            </div>
          </div>
        </a>
      </div>  

    {% endfor %}

  </div>
</div>


<div class="grid-container">
  <div class="grid-x grid-margin-x align-center content">

    <div class="cell">
      <h2>Why We're Different</h2>    
      <p>Creating learning opportunities is only the beginning of what we can do at EdgePoint. Whether you're looking for a partner for your project, or a team to take on full custom development, we can help.</p>
      <ul>
        <li><a href="/co-development-services/">Co-Development</a></li>
        <li><a href="/custom-elearning-course-development/">Custom Development</a></li>
        <li><a href="/elearning-consulting-services/">Consulting</a></li>
        <li><a href="/delivery-technology/">Delivery Technology</a></li>
      </ul>
      <p>Ready to learn more about how we can help with your specific training materials or needs? Find our demo library below to see more of our courses in action. Our team of eLearning experts is always here to make your job easier, too. Request a free one-on-one demo now and an eLearning specialist will be in touch shortly!</p>
    </div>

    {% assign forms = site.forms | where:'is-id', '688' %}
    {% for form in forms %}
    <div id="form" class="cell medium-8 large-6 content--form marginTop">
      <h2 class="h3 marginBot">{{ form.title }}</h2>
      {{ form.content }}
    </div>  
    {% endfor %}

  </div>
</div>
