---
title: Success Stories
permalink: /stories/
excerpt: "Our eLearning examples and case studies share success stories from businesses in all industries, in countries around the world. Read on."

id: stories

headline: "We inspire<br> learners."
tagline: "Success stories from<br> our previous wins."
cta1: Book Your Demo
cta1-url: /form/demo/
cta2: How We Help
cta2-url: /solutions/

cards:
  - demos
  - talk
---
<div class="grid-container">

  <div class="grid-x grid-margin-x content align-center">
    <div class="cell">
      <h2 class="h3 marginBot">Training That Delivers Big Business Results</h2>
      <figure class="featured-image float-right">
        {% asset 'icons8/rocket.svg' @inline %}
      </figure>
      <p>At EdgePoint Learning, we know that a highly-successful learning program can have a measurable impact on your company's, team's, or employees’ overall performance.</p>
      <p>We know this because we've seen it happen time and time again with our clients.</p>
      <p>For example, one client saw an 86% reduction in support calls after rolling out a self-paced software simulation eLearning course. Another realized a significant increase in new hire retention rates from a consistent onboarding program.</p>
      <p>EdgePoint Learning enables you to rapidly develop and deploy learning programs designed to meet your specific business needs.</p>
      <p>Get in touch today to learn how we can help you find the one that works best for your employees.</p>
      <p><a class="button" href="/contact/">Contact Us</a></p>

      <h2 class="h3 marginBot">eLearning Examples in Action</h2>
      <p>Want to learn more about how eLearning and other custom-fit training solutions can help your business? These eLearning examples share success stories from businesses in all industries, in countries around the world.</p>
      <p>Read on for more information or get in contact today to see a <a href="/form/demo/">demo</a> of our courses.</p>
    </div>
  </div>

  <div class="grid-x grid-margin-x align-center">
    {% assign filtered_stories = site.stories | sort:'solution' %}
    {% for story in filtered_stories %}
      {% include card-story.html %}
    {% endfor %}
  </div>

  <div class="grid-x grid-margin-x align-center">
    <div class="cell">
      <h2 class="h3 marginTop">Join Companies Like These</h2>
    </div>
    {% for client in site.data.clients %}
      {% include card-client.html %}
    {% endfor %}
  </div>
</div>
