.home-samples {
  margin-top: $global-margin * 2;
  margin-bottom: $global-margin * 2;
  padding-top: $global-padding * 2;
  padding-bottom: $global-padding * 2;
  background-color: $light-gray;
}

.home-sample {
  background-color: $white;
  margin-top: $global-margin;
  margin-bottom: $global-margin;

  a {
    display: block;
    height: 100%;
    background-image: asset_url('icons8/external-link.svg');
    background-repeat: no-repeat;
    background-position: right 4px top 4px;
    background-size: 16px 16px;

    &:hover {
      outline: 1px solid $epl-blue;
    }
  }

  h3 {
    padding: $global-padding;
    font-weight: 900;
    text-transform: uppercase;

    img {
      vertical-align: middle;
    }
  }

  svg {
    padding-top: $global-padding * 2;
    width: 100px;
    height: 100px;
  }

}

.home-sample.blue {
  background-color: $epl-blue;

  h3 {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  a {
    background-image: none;
    color: $white;

    &:hover {
      background-color: $epl-blue-light;
    }
  }
}
