.card-client {
  outline: 1px solid $light-gray;
  margin-top: $global-margin;
  margin-bottom: $global-margin;

  .client-logo {
    margin: $global-margin * 2;
    width: 80%;
    height: 220px;
    object-fit: contain;
    font-family: 'object-fit: contain;';
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.client-link {
  background-image: asset_url('icons8/external-link.svg');
  background-repeat: no-repeat;
  background-position: right 4px top 4px;
  background-size: 16px 16px;
  transition: outline 0.3s ease;

  &:hover {
    outline: 1px solid $epl-blue;
  }
}

.card-client#AKeed,
.card-client#nyse {
  .client-logo {
    width: 60%;
  }
}
