.person {
  margin-top: $global-margin * 1.5;
  margin-bottom: $global-margin * 1.5;

  .thumbnail {
    border: none;
    border-radius: 100%;

    @include breakpoint(medium) {
      margin-top: $global-margin * 0.6;
    }
  }

  img {
    border-radius: 100%;
    max-width: 136px;

    @include breakpoint(medium) {
      max-width: 160px;
    }
  }
}
