.person {
  margin-top: $global-margin * 1.5;
  margin-bottom: $global-margin * 1.5;

  .thumbnail {
    border: none;
    border-radius: 100%;

    @include breakpoint(medium) {
      margin-top: $global-margin * 0.6;
    }
  }

  img {
    border-radius: 100%;
    max-width: 136px;

    @include breakpoint(medium) {
      max-width: 160px;
    }
  }
}

.people {
  margin-top: $global-margin * 2;
  margin-bottom: $global-margin * 2;
  padding-top: $global-padding * 2;;
  background-color: $light-gray;

  .squat {
    color: $black;
  }

  .subheader {
    color: $black;
  }
}

.peopleintro {
  @include breakpoint(medium) {
    padding-left: 176px;
  }

  @include breakpoint(large) {
    padding-left: 0;
  }
}

.aboutcombomark {
  margin-left: 176px;
  margin-top: 8px;

  svg {
    width: 300px;
    height: 198px;
  }
}
