.content {
  margin-top: $global-margin * 3;

  #{headings(1,6)} {
    line-height: 1.2;
  }

  #{headings(1,6)},
  p,
  blockquote,
  ul,
  ol {
    max-width: $content-maxwidth;
    margin-left: auto;
    margin-right: auto;
  }

  p,
  li,
  cite {
    @include breakpoint(mediumer) {
      font-size: 19px;
    }
  }

  li {
    margin-left: 1.5em;
  }

  p.wideImage {
    max-width: 100%;
    text-align: center;
  }

  h3 {
    margin-top: $global-margin * 1.5;
  }

  p a,
  li a {
    font-weight: bold;
  }
}

.layout-story .content {
  h1 {
    margin-bottom: $global-margin * 3;
  }

  h2 {
    margin-top: $global-margin * 2;
    @extend .h3;
  }
}
