.content {
  margin-top: $global-margin * 3;

  #{headings(1,6)} {
    line-height: 1.2;
  }

  #{headings(1,6)},
  p,
  blockquote,
  ul,
  ol,
  form {
    max-width: $content-maxwidth;
    margin-left: auto;
    margin-right: auto;
  }

  p,
  li,
  cite {
    @include breakpoint(mediumer) {
      font-size: 19px;
    }
  }

  li {
    margin-left: 1.5em;
  }

  p.wideImage {
    max-width: 100%;
    text-align: center;
  }

  h3 {
    margin-top: $global-margin * 1.5;
  }

  p a,
  li a {
    font-weight: bold;
  }

  .featured-text {
    font-size: 21px;
    font-weight: 500;
    @include breakpoint(mediumer) {
      font-size: 26px;
    }
  }

  .fancy-text {
    font-size: 19px;
    background: #f9f9f9;
    border-left: 10px solid $epl-sky;
    margin: 1.5em auto;
    padding: 0 10px;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
    line-height: 1.4;
    @include breakpoint(mediumer) {
      font-size: 24px;
    }
  }

  .fancy-quote {
    @extend .fancy-text;
    &:before {
      content: open-quote;
      display: inline;
      // height: 0;
      line-height: 0;
      left: -10px;
      position: relative;
      top: 30px;
      color: $medium-gray;
      font-size: 3em;
    }
  }
}

.layout-story .content {
  h1 {
    margin-bottom: $global-margin * 3;
  }

  h2 {
    margin-top: $global-margin * 2;
    @extend .h3;
  }
}
// wide raster image
.layout-post .content picture {
  display: inline-block;
  margin-top: $global-margin * 0.5;
  margin-bottom: $global-margin * 1.5;
}
// normal raster image
.layout-post .content p img {
  margin-top: $global-margin * 0.5;
  margin-bottom: $global-margin * 0.5;
}