.layout-form-thanks h2,
.layout-form h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

button.infusion-recaptcha {
  @extend .button;
}

form#inf_form_7e22a7464fdbe15f9e53fba62f2401e7 span.infusion-option {
  display: block;
}
