.hero {
  border: none;
  background: $epl-blue;
  background: linear-gradient($epl-blue, $epl-blue-dark);

  @include breakpoint(medium) {
    min-height: 14em;
  }

  .cell {
    padding: $global-padding * 3 $global-padding * 2;

    @include breakpoint(medium) {
      padding: $global-padding * 4 $global-padding $global-padding * 5;
    }
  }

  h1,
  p {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }

  .button.hollow {
    margin-top: $global-margin;
  }
}

.layout-form .hero,
.layout-404 .hero,
.layout-page .hero {
  h1 {
    font-weight: 300;
    line-height: 1.2em;

    b,
    #typed {
      font-weight: 400;
    }
  }

  p {
    margin-top: $global-margin * 2;
    max-width: 640px;

    @include breakpoint(medium) {
      font-size: $lead-font-size;
      line-height: $lead-lineheight;
    }
  }
}

.layout-story .hero {
  p {
    max-width: 700px;
    font-weight: 300;
    line-height: 1.2;
  }
}

.layout-404 .hero {
  position: relative;
  background-image: asset_url('ui/404bg@2x-fade.jpg');
  background-size: cover;
  overflow: hidden;

  .cell {
    z-index: 2;
  }

  h1 {
    font-weight: 700;
  }

  #monkey {
    z-index: 1;
    position: absolute;
    right: 20px;
    bottom: -30px;
    width: 132px;
    height: 89px;

    @include breakpoint(medium) {
      bottom: 0;
    }
  }
}

.layout-form-thanks .hero {
  height: 290px;
  position: relative;
  background-image: asset_url('ui/915438726.jpg');
  background-position: top center;
  background-size: 800px;

  svg {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }

  #bear {
    bottom: 0px;
    width: 355px;
    height: 243px;
  }

  #paws {
    bottom: -25px;
    width: 326px;
    height: 62px;
  }
  
  #paw-L {
    opacity: 0;
    animation: paw-in 0.1s steps(1, start) 1s forwards;
  }
  #paw-R {
    opacity: 0;
    animation: paw-in 0.1s steps(1, start) 1.5s forwards;  
  }
  #body {
    animation: bear-body-in 3s ease-out 2s both;
  }
  #word-balloon {
    animation: balloon-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5.5s both;
  }
}

@keyframes bear-body-in {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(98px);
  }
}

@keyframes paw-in {
  to {
    opacity: 1;
  }
}

@keyframes balloon-in {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
