.footer--small {
  margin-top: $global-margin * 2;
  background: $epl-blue-dark;
  color: $light-gray;
  font-size: rem-calc(14);

  svg {
    width: 39px;
    vertical-align: text-bottom;
    margin-bottom: -4px;
    path {
      fill: $white;
    }
  }
  .menu a {
    font-weight: normal;
    color: $white;
    &:hover {
      background-color: $epl-blue;
    }
  }
  .accordion-menu {
    margin-bottom: $global-margin * 2;
  }  
  .accordion-menu > li > a {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    border-bottom: 1px solid $epl-blue;
    &::after {
      border-color: $light-gray transparent transparent !important;
    }
  }
  .nested > li >a {
    line-height: 1.2em;
  }
  .footer__contact {
    padding: 0 $global-padding * 1;
  }
}


.footer--big {
  background: $epl-blue-dark;
  color: $light-gray;
  font-size: rem-calc(14);
  padding-top: $global-padding;

  .grid-x.align-justify.align-bottom {
    margin-top: $global-margin * 3;
  }
  .footer--big__logo {
    svg {
      height: 2em;
      path {
        fill: $white;
      }
    }
  }
  .footer--big__social a {
    margin-left: $global-margin;
    svg {
      height: 2em;
      path {
        fill: $light-gray;
      }
    }
  }

  ul.menu.vertical li.menu-text {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 0;
    border-bottom: 1px solid $epl-blue;
  }
  ul.menu.vertical a {
    font-weight: normal;
    color: $white;
    &:hover {
      background-color: $epl-blue;
    }
  }
}