.layout-post {
  h1 {
    margin-top: 1em;
    line-height: 1.2;

    a {
      color: $black;
      font-weight: 600;
    }
  }

  .meta {
    font-size: 0.8em;
    color: $dark-gray;
    margin-top: $global-margin * 1.5;
    border-bottom: 1px solid $light-gray;
    padding-bottom: $global-padding;;

    .squat {
      margin-right: $global-margin;
    }
  }

  .post-next {
    border-bottom: 1px solid $dark-gray;
    a {
      text-decoration: none;
      color: $black;
      &:hover {
        h2 {
          color: $epl-blue;
        }
        figure {
          max-height: 150px;
          @include breakpoint(medium){
            max-height: 250px;
          }
        }
      }
    }
    p {
      font-size: 1em;
    }
    figure {
      max-height: 100px;
      overflow: hidden;
      @include breakpoint(medium){
        max-height: 200px;
      }  
    }
    div.cell {
      margin-bottom: 0;
    }
  }
}