.layout-form h2 {
  margin-bottom: 1em;
}

button.infusion-recaptcha,
div.infusion-submit button {
  @extend .button;
}

form#inf_form_625576a0d9f5921988dffbbec7438ec0 span.infusion-option {
  display: block;
}

.content--form {
  background: $light-gray;
  border-radius: 1em;
  border-bottom: 5px solid $medium-gray;
  padding: $global-padding * 1.5 $global-padding * 2 $global-padding;
}

