.layout-demo {
  .splash {
    background: black;
    padding: $global-padding 0;
  }

  .content {
    margin-top: 0;
  }

  h1 {
    margin-top: $global-margin * 2;
    margin-bottom: $global-margin;
  }
}
