// small screens
.title-bar svg {
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  margin-right: 4px;

  g {
    fill: $white;
  }
}

// medium-and-up screens
.navigation-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: $black;
  &:hover {
    color: $black;
  }
}
.navigation-link--home {
  margin-top: -0.05em;
}
.navigation-link--book-demo {
  background: $epl-blue;
  color: $white;
  margin-left: 0.4em;
  border-radius: 5px;
  &:hover {
    background-color: $black;
    color: $white;
  }
}
.navigation-link--submenu {
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    background-color: $light-gray;
  }
}

.navigation-icon {
  height: 1.4em;
  margin-right: 1em;
  margin-top: -0.1em;
}

//HACK: foundation dropdown active menu parent styling
.dropdown.menu > li.is-active > a.navigation-link {
  color: $black;
}
//HACK: foundation dropdown arrow styling
.dropdown.menu > li > a.navigation-link::after {
  border-color: $black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
//HACK: foundation dropdown active menu parent arrow styling
// .dropdown.menu > li.is-active > a.navigation-link::after {
//   border-color: $black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
// }

.heroic {
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.3)), asset_url("heroic/heroic-bg-01.jpg magick:resize=1200");
  background-position: center center;
  background-size: cover;
}

.billboard h1 {
  font-weight: 900;
  max-width: 12ch;
  line-height: 1em;
  margin-top: 1em;
  @include breakpoint(large) {
    font-size: 6em;
  }
}
.billboard p {
  margin: 1em 0;
  font-weight: 600;
}
.billboard p.h4 {
  max-width: 24ch;
  @include breakpoint(large) {
    font-size: 2.5em;
    line-height: 1.1em;
  }
}
.billboard p.h5 {
  text-align: center;
}
.billboard__button {
  display: block;
  width: 10em;
  border-radius: 5px;
  padding: 0.6em 0.8em;
  background: $epl-blue;
  color: $white;
  &:hover {
    background: $black;
    color: $white;
  }
}
.billboard__button--secondary {
  background: $light-gray;
  color: $epl-blue;
  &:hover {
    background: $epl-off-black;
    color: $white;
  }
}