.off-canvas {
  .close-button {
    font-weight: 600;

    span,
    span:hover,
    span:focus {
      color: $white;
    }
  }

  color: $white;

  ul {
    margin-top: $global-margin * 2;
  }

  ul.menu {
    border-bottom: 1px solid rgba($black, 0.4);
  }

  li.menu-text {
    font-weight: 300;
    font-size: 1.2em;
  }

  li a {
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1.6em;
    text-indent: 0.8em;
    color: $white;
    text-transform: uppercase;
    border-top: 1px solid rgba($black, 0.4);

    &:hover {
      background-color: $epl-blue;
      text-indent: 1.2em;
      transition: all 0.3s ease;
    }
  }

  li.child a {
    text-indent: 1.8em;

    &:hover {
      text-indent: 2.2em;
    }
  }

  ul.no-bullet {
    text-align: center;
    line-height: 1;

    li {
      margin: $global-margin auto;
    }

    svg {
      margin: $global-margin auto;
      width: 165px;
      height: 108px;

      path,
      g {
        fill: $white;
      }
    }
  }
}

.off-canvas-menu {
  margin-top: $global-margin * 3;
  padding: 0;
}
