.navigation {
  background: linear-gradient(to left, rgba(255,255,255,0.8), rgba(255,255,255,0))
}
.navigation__link {
  @include breakpoint(large){
    font-size: 1.2rem;
  }
  font-weight: 600;
  color: $black;
  &:hover {
    color: $black;
  }
}
.navigation__link--home {
  margin-top: -0.05em;
}
.navigation__link--book-demo {
  background: $epl-blue;
  color: $white;
  margin-left: 0.4em;
  border-radius: 5px;
  &:hover {
    background-color: $black;
    color: $white;
  }
}
.navigation__link--submenu {
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    background-color: $light-gray;
  }
}

.navigation-icon {
  height: 1.4em;
  margin-right: 1em;
  margin-top: -0.1em;
}

//HACK: foundation dropdown active menu parent styling
.dropdown.menu > li.is-active > a.navigation__link {
  color: $black;
}
//HACK: foundation dropdown arrow styling
.dropdown.menu > li > a.navigation__link::after {
  border-color: $black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
//HACK: foundation dropdown active menu parent arrow styling
// .dropdown.menu > li.is-active > a.navigation__link::after {
//   border-color: $black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
// }