// small screens
.title-bar svg {
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  margin-right: 4px;

  g {
    fill: $white;
  }
}
// medium-and-up screens
.navigation-link {
  font-size: 1.2rem;
  font-weight: 600;
  &:hover {
    color: $black;
  }
}
.navigation-link--home {
  margin-top: -0.05em;
}
.navigation-link--book-demo {
  background: $epl-blue;
  color: $white;
  margin-left: 0.4em;
  border-radius: 5px;
  &:hover {
    background-color: $black;
    color: $white;
  }
}
.navigation-link--submenu {
  font-size: 1rem;
}

.navigation-icon {
  height: 1.4em;
  margin-right: 1em;
  margin-top: -0.1em;
}

//HACK: foundation dropdown active menu parent styling
.dropdown.menu > li.is-active > a.navigation-link {
  color: $black;
}
//HACK: foundation dropdown active menu parent arrow styling
.dropdown.menu > li.is-active > a.navigation-link::after {
  border-color: $black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

// breadcrumbs
.nav-pages {
  background-color: $epl-blue;

  .grid-container {
    padding-right: 0;
  }

  .breadcrumbs {
    margin-left: $global-margin;
    margin-top: $global-margin * 0.5;

    a {
      color: $white;
    }
  }
}