.teaser {
  background: $light-gray;
  a {
    color: $black;
    height: 100%;
    display: block;
  }
}

.teaser__image {
  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    font-family: 'object-fit: cover;'; //https://github.com/bfred-it/object-fit-images/

    @include breakpoint (large) {
      height: 200px;
    }
  }
}

.teaser__text {
  padding: $global-padding * 1.3 $global-padding $global-padding * 0.2;

  .h5 {
    line-height: 1.3;
    font-weight: 600;
    padding-bottom: $global-padding * 0.3;
  }
}

.teaser--primary {
  .teaser__image img {
    @include breakpoint (medium) {
      height: 480px;
    }
  }
  .teaser__text p {
    @include breakpoint (medium) {
      font-size: 1.2em;
    }   
  }
}

.teaser--secondary .teaser__image img {
  @include breakpoint (large) {
    height: 280px;
  }
}

ul.pagination {
  margin-top: $global-margin;

  li {
    margin-left: 0;
  }
}

.teaser--demo {
  border-radius: 1em;
  overflow: hidden;
  .teaser__image {
    overflow: hidden;
  }
  img {
    transition: all .2s ease-in-out;
  }
  &:first-of-type {
    background: $epl-sky;
  }
  &:nth-of-type(2) {
    background: $epl-yellow;
  }
  &:nth-of-type(3) {
    background: $epl-pink;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
