.button {
  font-weight: 400 !important;
}

.button.hollow {
  border-color: $white;
  color: $white;

  &:hover,
  &:focus {
    color: $epl-blue-dark;
    background-color: $white;
  }
}

.testimony {
  // margin-left: 0.4em;
  // text-indent: -0.4em;
  quotes: "“" "”" "‘" "’";

  &::before {
    content: open-quote;
    font-weight: bold;
  }

  &::after {
    content: close-quote;
    font-weight: bold;
  }
}

.squat {
  font-weight: 900;
  color: $epl-off-black;
  text-transform: uppercase;
  margin-bottom: 0;
}

.featured-image {
  width: 100%;
  text-align: center;
  margin-top: $global-margin;
  margin-bottom: $global-margin;

  img,
  svg {
    width: 140px;
    height: 140px;
  }

  @include breakpoint(medium) {
    margin-left: $global-margin * 2;
    margin-top: 0;
    width: 200px;

    img,
    svg {
      width: 200px;
      height: 200px;
    }
  }

  @include breakpoint(large) {
    width: 310px;
    margin-left: 0;
    margin-right: 0;
  }

  @include breakpoint(xlarge) {
    width: 400px;
  }
}

.thumbnail {
  margin-bottom: $global-margin * 0.3;
  // overrides Foundation component
}

.responsive-embed {
  margin-top: $global-margin * 2;
  margin-bottom: $global-margin * 2;
}

// MARGINS
.marginTopNone {
  margin-top: 0 !important;
}

.marginTopHalf {
  margin-top: $global-margin * 0.5;
}

.marginTopEM {
  margin-top: 1em;
}

.marginTop {
  margin-top: $global-margin * 2;
}

.marginRight {
  margin-right: $global-margin;
}

.marginBotNone {
  margin-bottom: 0 !important;
}

.marginBotHalf {
  margin-bottom: $global-margin * 0.5;
}

.marginBotEM {
  margin-bottom: 1em;
}

.marginBot {
  margin-bottom: $global-margin * 1.5;
}

.marginLeft {
  margin-left: $global-margin;
}

.marginAll {
  margin: $global-margin;
}

// development environment identification
body.development .title-bar svg path,
body.development .nav-logo svg path {
  @include breakpoint(mediumer) {
    fill: #6e3ab7;
  }
  @include breakpoint(large) {
    fill: #cc4b37;
  }
  @include breakpoint(large) {
    fill: #3adb76;
  }
  @include breakpoint(xlarge) {
    fill: #ffae00;
  }
}

.measure {
  max-width: $content-maxwidth;
}

.contact-image {
  display: block;
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $global-margin;

  @include breakpoint(medium) {
    display: inline;
    float: right;
    margin-left: $global-margin;
    margin-right: 0;
  }
}

.blogheart {
  text-align: center;
  margin-top: 40px;

  svg {
    width: 12.5em;
    height: 12.5em;
  }
}

.pillar {
  border-left: 6px solid $epl-blue-light;
  background: $light-gray;
  max-width: $content-maxwidth;
  padding: $global-padding * 1.5 $global-padding $global-padding * 0.5;
  margin: 0 auto $global-margin * 2;

  .squat {
    color: $black;
  }

  .squat a {
    color: $epl-blue;

    &:hover {
      color: $epl-blue-dark;
    }
  }

  svg {
    height: 0.6em;
    width: 0.6em;
    vertical-align: top;
    margin-top: 0.2em;
    margin-left: 0.1em;
  }
}

ul.home-training li {
  margin-left: 0;
  margin-bottom: $global-margin;
  padding: $global-padding;
  list-style-type: none;
  background: $light-gray;
  vertical-align: bottom;

  svg {
    width: 1.5em;
    height: 1.5em;
    margin-right: $global-margin * 0.5;
    margin-bottom: -5px;
  }
}