$epl-blue: #12529e;
$epl-blue-dark: #0b315e;
$epl-blue-light: #186dd2;
$epl-off-black: #434343;
$epl-pink: #ffd6d3;
$epl-yellow:  #fffad3;
$epl-sky: #cee0f5; 
$epl-green: #003a00;

$content-maxwidth: 670px;

// header loop function
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}


@import
  'font',
  'settings',
  'foundation/foundation'
;

$button-palette: map-merge($foundation-palette, (
    bright: $epl-blue-light,
    wyte: #fefefe
));

@include foundation-everything;

//// Preventing FOUC
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

@import
'content',

'card-client',
'card-cta',
'card-home-sample',
'card-person',
'card-social',
'card-solution',
'card-story',
'card-teaser',

'include-billboard',
'include-footer',
'include-hero',
'include-share',

'layout-demo',
'layout-form',
'layout-post',

'nav',
'search',

'tweaks';

.autoprefixer-test {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}