$epl-blue: #12529e;
$epl-blue-dark: #0b315e;
$epl-blue-light: #186dd2;
$epl-off-black: #434343;
$epl-pink: #ffd6d3;
$epl-yellow:  #fffad3;
$epl-sky: #cee0f5; 

$content-maxwidth: 670px;


// header loop function
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}


@import
  'source-sans-pro',
  'settings',
  'foundation/foundation'
;

@include foundation-everything;

@import
  'off-canvas',
  'nav-small',
  'nav-big',
  'nav-breadcrumbs',
  'billboard',
  'hero',
  'footer',
  'card-cta',
  'card-home-sample',
  'card-solution',
  'card-story',
  'card-client',
  'card-person',
  'card-social',
  'teaser',
  'post',
  'content',
  'tweaks',
  'forms',
  'share',
  'demo'
;