---
---
$content-maxwidth: 670px;

.grecaptcha-badge { 
  visibility: hidden;
}

.serif {
  font-family: Lora, Times, "Times New Roman", serif !important;
}

// header loop function
@function headings($from:1, $to:6) {
  @if $from == $to {
      @return 'h#{$from}';
  } @else {
      @return 'h#{$from},' + headings($from+1, $to);
  }
}

@import
  'font-muli',
  'font-source-sans-pro',
  'font-lora',
  'colors',
  'settings'
;


//--- foundation imports start ---//
@import 'foundation/scss/foundation';
// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
// @include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
@include foundation-table;
// Basic components
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
// @include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
// @include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
// @include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;

// Prototype classes
// @include foundation-prototype-typescale;
@include foundation-prototype-text-utilities;
// @include foundation-prototype-text-transformation;
// @include foundation-prototype-text-decoration;
@include foundation-prototype-font-styling;
// @include foundation-prototype-list-style-type;
@include foundation-prototype-rounded;
@include foundation-prototype-bordered;
@include foundation-prototype-shadow;
// @include foundation-prototype-arrow;
@include foundation-prototype-separator;
// @include foundation-prototype-overflow;
// @include foundation-prototype-display;
// @include foundation-prototype-position;
// @include foundation-prototype-border-box;
// @include foundation-prototype-border-none;
// @include foundation-prototype-sizing;
@include foundation-prototype-spacing;

//--- foundation imports end ---//


@import
  'button',
  'nav-mobile',
  'nav-desktop',
  'footer',
  'search',
  'billboard',
  'card',
  'card--blob',
  'card--overlay',
  'card--solution',
  'card--teaser',
  'card--third',
  'tweaks',
  'waves',
  'topo',
  'content',
  'layout-post',
  'layout-story',
  'layout-special',
  'vi-lazyload'
;

.radius--rem {
  border-radius: 1rem;
}

@mixin shadow(
  $shadow: $prototype-box-shadow
) {
  box-shadow: $shadow;
}

// https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/
html { 
  scroll-padding-top: 90px; /* height of sticky header */
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-22 10:23:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
@keyframes scale-in-hor-center{0%{transform:scaleX(0);opacity:1}100%{transform:scaleX(1);opacity:1}}
@keyframes pulsate-fwd{0%{transform:scale(1)}50%{transform:scale(1.1)}100%{transform:scale(1)}}
@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}
@keyframes shadow-drop-2-center{0%{transform:translateZ(0);box-shadow:0 0 0 0 transparent}100%{transform:translateZ(50px);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}
@keyframes scale-up-center{0%{transform:scale(1)}100%{transform:scale(1.1)}}
@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-10px)}}