.solution {
  border: 1px solid $dark-gray;
  margin-top: $global-margin;
  margin-bottom: $global-margin;
  padding: 0 !important;

  .solution-icon {
    padding: $global-padding;
    background-color: $light-gray;
  }

  .solution-text {
    padding: $global-padding $global-padding $global-padding * 0.2;
  }

  img,
  svg {
    width: 100px;
  }

  .h5 {
    font-weight: 600;
  }
}
