.social-card {
  margin-top: $global-margin * 0.5;
  margin-bottom: $global-margin * 0.5;
  padding: 0;
  font-weight: bold;
  text-align: center;

  h3,
  h3.h5 {
    margin: 0;
    line-height: 3em;
  }

  svg {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-top: -3px;
    margin-right: 0.4em;

    path {
      fill: $white;
    }
  }

  a {
    color: $white;
    display: block;

    &:hover {
      background-color: $black;
    }
  }
}
