.cards {
  margin-top: $global-margin * 2;
}

.cta-card {
  margin-top: $global-margin;
  margin-bottom: $global-margin;
  padding-top: $global-padding * 0.6;
  background-color: $light-gray;

  h5 {
    font-weight: 600;
  }

  img,
  svg {
    @extend .float-right;

    margin-left: $global-margin;
    margin-top: $global-margin * 0.5;
    width: 48px;
  }

  p {
    color: #333;
  }

  @include breakpoint(mediumer) {
    img,
    svg {
      width: 80px;
    }
  }
}
