.layout-post .share {
  a {
    padding-left: 0;
    padding-right: 0;
  }

  li:not(:last-of-type) a {
    margin-right: $global-margin * 0.5;
  }

  svg {
    width: 30px;
  }

  span.has-tip {
    border-bottom: none;
    cursor: default;
  }
}

.layout-post .share-bottom {
  margin-top: $global-margin * 0.5;
  padding-bottom: $global-padding;
  border-bottom: 1px solid $light-gray;

  h5 {
    margin-top: 0.4em;
    font-weight: 600;
  }

  ul {
    margin-left: 2em;
  }
}
