@mixin fontFace($family,$src,$local,$postscript,$style,$weight) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url(font_path('#{$src}.eot')); /* IE9 Compat Modes */
    src:
      // use local fonts
      local('#{$local}'),
      local('#{$postscript}'),
      // IE6-IE8
      url(font_path('#{$src}.eot?#iefix')) format('embedded-opentype'),
      // Super Modern Browsers
      url(font_path('#{$src}.woff2')) format('woff2'),
      // Modern Browsers
      url(font_path('#{$src}.woff')) format('woff'),
      // Safari, Android, iOS
      url(font_path('#{$src}.ttf')) format('truetype'),
      // Legacy iOS
      url(font_path('#{$src}.svg#SourceSansPro')) format('svg');
  }
}
@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-200', 'Source Sans Pro ExtraLight', 'SourceSansPro-ExtraLight', normal, 200);
@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-200italic', 'Source Sans Pro ExtraLight Italic', 'SourceSansPro-ExtraLightItalic', italic, 200);

@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-300', 'Source Sans Pro Light', 'SourceSansPro-Light', normal, 300);
@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-300italic', 'Source Sans Pro Light Italic', 'SourceSansPro-LightItalic', italic, 300);

@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-regular', 'Source Sans Pro Regular', 'SourceSansPro-Regular', normal, 400);
@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-italic', 'Source Sans Pro Italic', 'SourceSansPro-Italic', italic, 400);

@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-600', 'Source Sans Pro SemiBold', 'SourceSansPro-SemiBold', normal, 600);
@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-600italic', 'Source Sans Pro SemiBold Italic', 'SourceSansPro-SemiBoldItalic', italic, 600);

@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-700', 'Source Sans Pro Bold', 'SourceSansPro-Bold', normal, 700);
@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-700italic', 'Source Sans Pro Bold Italic', 'SourceSansPro-BoldItalic', italic, 700);

@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-700', 'Source Sans Pro Bold', 'SourceSansPro-Bold', normal, 700);
@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-700italic', 'Source Sans Pro Bold Italic', 'SourceSansPro-BoldItalic', italic, 700);

@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-900', 'Source Sans Pro Black', 'SourceSansPro-Black', normal, 900);
@include fontFace('Source Sans Pro', 'source-sans-pro-v11-latin-900italic', 'Source Sans Pro Black Italic', 'SourceSansPro-BlackItalic', italic, 900);
