---
layout: default
---
{% if page.hero-h1 %}
  <div class="grid-x hero align-middle align-center">
    <div class="cell text-center clearfix">
      <h1 {% if page.title != 'Home' %} class="noWidows"{% endif %}>{{ page.hero-h1 }}</h1>
      {% if page.hero-p %}<p>{{ page.hero-p }}</p>{% endif %}
      {% if page.hero-button-url %}<a class="button hollow" href="{{ page.hero-button-url }}">{{ page.hero-button-label }}</a>{% endif %}
    </div>
    <figure id="monkey">
      {% asset
        'ui/404monkey.svg'
        alt='monkey'
      %}
    </figure>
  </div>
{% endif %}

{{ content }}
