---
layout: default
---
<div class="grid-x align-middle align-center splash">
  <div class="cell">
    <div class="grid-container">
      <div class="cell">

          <div style="padding:49.69% 0 0 0;position:relative;">
            <iframe
              src="https://player.vimeo.com/video/{{page.vimeo}}?title=0&byline=0&portrait=0"
              style="position:absolute;top:0;left:0;width:100%;height:100%;"
              frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
          </div>
          <script src="https://player.vimeo.com/api/player.js"></script>

      </div>
    </div>
  </div>
</div>


<div class="grid-container marginBot">
  <div class="grid-x align-center content">

    <div class="cell">
      <h1 class="h2">{{ page.title }}</h1>
      {{ content }}
    </div>

    {% assign forms = site.forms | where:'is-id', '686' %}
    {% for form in forms %}
    <div class="cell medium-8 large-6 content--form marginTop">
      <h2 class="h3 marginBot">{{ form.title }}</h2>
      {{ form.content }}
    </div>  
    {% endfor %}

  </div>
</div>