---
layout: default
---
<main>

  {% include nav.html %}

  <header id="hero">
    {% if page.hero %}
      <h1><b>{{ page.hero }}</b></h1>
    {% else %}
      &nbsp;
    {% endif %}
  </header>

  <article id="content">

    {{ content }}

    {% if page.cards %}
    <section id="cards">
      {% for page_card in page.cards %}
        {% for card in site.data.cards %}
          {% if page_card == card.id %}
            {% include card.html %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </section>
    {% endif %}

  </article>

  {% include footer.html %}

</main>
