---
layout: default
---
<div class="grid-container billboard">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    {% asset '{{ page.image }}' class='billboard__background' alt='{{ page.title }}' magick:resize='1200' %}
    <div class="cell">
      <h1 class="h1 billboard__headline">{{ page.headline }}</h1>
      {% if page.tagline %}<p class="h2 billboard__tagline">{{ page.tagline }}</p>{% endif %}
      {% if page.cta1 %}<p><a class="button billboard__cta blackout" href="{{ page.cta1-url }}">{{ page.cta1 }}</a></p>{% endif %}
      {% if page.cta2 %}<p><a class="button billboard__cta billboard__cta--secondary wyte blackout" href="{{ page.cta2-url }}">{{ page.cta2 }}</a></p>{% endif %}
    </div>
  </div>
</div>

{{ content }}