---
layout: default
---
<article class="post">

  <header id="post_header">
    <h1>{{ page.title }}</h1>
    <h2>{% if page.author %} Posted by {{ page.author }} on {% endif %} {{ page.date | date: '%B %d, %Y' }}</h2>
  </header>

  <figure id="post_featured_image">
    <img src="{{site.blog_image_dir}}/{{ page.background }}" alt="blog post featured image">
  </figure>

  <section id="post_content">
    {{ content }}
  </section>

  <aside id="post_related">
    <h4>Related Posts</h4>
    <ul>
      {% for post in site.related_posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }} <small>{{ post.date | date: '%B %d, %Y' }}</small></a>
        </li>
      {% endfor %}
    </ul>
  </aside>

</article>

{% if page.boxes %}
<section class="box_holder">
  {% for page_box in page.boxes %}
    {% for box in site.boxes %}
      {% if page_box == box.name %}
        {% include box.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>
{% endif %}
