---
layout: default
---
<div class="topo wave wave--bot--1--mirror">
  <div class="grid-container">

    <div class="grid-x align-center align-middle grid-margin-x grid-margin-y">
      <div class="cell padding-vertical-3">
        <h1 class="serif separator-left margin-vertical-2 noWidows" style="font-weight: normal; line-height: 1.3; max-width: 970px">{{ page.headline }}</h1>
        <p><a class="button cta cta--green" href="{{ page.cta1-url }}">{{ page.cta1 }}</a></p>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y align-justify align-stretch margin-bottom-3 profile">

      <div class="cell marge-4 card radius shadow align-center" style="background-color: #efefef;">
        <p class="quotation serif padding-vertical-1">{{ page.quote }}</p>
        {% if page.rep %}<p class="font-italic text-right">- {{ page.rep }}</p>{% endif %}
      </div>

      <div class="cell medium-6 marge-4 card radius shadow">
        <p><span class="key">Industry:</span><br> {{ page.industry }}</p>
        <p><span class="key">Company Size:</span><br> {{ page.size }}</p>
        <p><span class="key">Location:</span><br> {{ page.location }}</p>
        <p><span class="key">Approach:</span><br> {{ page.approach }}</p>
        {% if page.anonymous %}<p class="font-italic" style="line-height: 1.1;"><small>* Due to client confidentiality, we don't share our client or company names, but we're happy to connect you with references in your industry!</small></p>{% endif %}
      </div>
    
      <div class="cell medium-6 marge-4 card radius shadow">
        <p class="key margin-bottom-0">Key Wins:</p>
        <ul class="no-bullet">
          {% for item in page.wins %}
            <li class="margin-bottom-1">{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    
    </div>

  </div>
</div>

<div class="grid-container">

  <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y align-center">
    <div class="cell content">
      {{ content }}
      {% if page.screenshots %}<h2>Explore</h2>{% endif %}
    </div>
  </div>

  {% if page.screenshots %}
    <div class="grid-x grid-margin-x grid-margin-y align-center padding-bottom-3">  
      {% for item in page.screenshots %}
        <div class="cell large-4 card radius--rem shadow contentWidth">
          {% picture card {{item}} %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

</div>

<div class="topo wave wave--top--2 padding-vertical-3">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y align-center padding-bottom-3">

      <div class="cell card radius shadow contentWidth margin-bottom-3" style="background-color: #ffffff;">
        <div class="grid-x align-middle">
          <div class="cell large-shrink padding-right-2 text-center">
            {% svg /assets/svg/logo/epl-horizontal-combination-mark.svg class="hide-for-large margin-horizontal-2 margin-vertical-2" style="max-width: 360px" %}
            {% svg /assets/svg/logo/epl-lettermark.svg width=64 class="show-for-large" %}
          </div>
          <div class="cell small-auto large-auto">      
            <h2 class="h5 font-bold">About EdgePoint Learning</h2>
            <p class="margin-bottom-0">EdgePoint Learning provides boutique, end-to-end solutions for today’s employee training needs. From microlearning to eLearning, program planning to launch, EdgePoint transforms complex training topics into engaging, interactive learning experiences for today's employees.</p>
          </div>
        </div>
      </div>  

      {% include form.html title = "Let's Talk About Your Next Project" keap = 979 %}

    </div>
  </div>
</div>