---
layout: default
story: true
---
{% include nav-breadcrumbs.html %}

{% assign solution = site.data.solutions | where:'id', page.solution | first %}

<div class="grid-x hero align-middle align-center">
  <div class="cell text-center">
    <p class="h2 testimony noWidows">{{ page.why }}</p>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center content">
    <div class="cell">

    <h1 class="h2 noWidows"><span class="subheader">EdgePoint Enables:</span><br>{{ solution.title }} Training</h1>

      {{ content }}

      <h2>The EdgePoint Learning Difference</h2>
      <p>Since 2007, EdgePoint Learning has been committed to delivering blended learning solutions that drive organizational performance and business value while enriching the capabilities of working adults.</p>

    </div>
  </div>
</div>
