---
title: Lazy Load Test
permalink: /sample-lazy/
meta: This is a sample LAZY LOADING TEST.

image: /gcw/rsp.jpg
#imagepos: "top right" # optional to change hero image position. default is "center center"
wave: bot-6

headline: We build<br> learning experiences<br> that employees love
tagline: Let's create something amazing for your team
cta1: Our Solutions
cta1-url: /solutions/
cta2: View Demos
cta2-url: /form/demo/

# these last ones are only here because I snuck this page into the blog posts. Normal pages don't need them.
layout: page
date: 2020-06-01
---



<div class="topo wave wave--bot--4">
  <div class="grid-container margin-vertical-3">
    <div class="grid-x grid-margin-x grid-margin-y align-center">
      <div class="cell">
        <h2 class="font-bold">card--lazy</h2>
      </div>
  
      {% for post in site.posts %}
        {% if forloop.index == 1 %}
          {% assign class = 'card--lazy card--lazy--XL' %}
        {% elsif forloop.index == 2 or forloop.index == 3 %}
          {% assign class = 'card--lazy card--lazy--L' %}
        {% else %}
          {% assign class = 'card--lazy card--lazy--M' %}
        {% endif %}
      {% include card--lazy.html class = class url = post.url image = post.image title = post.title copy = post.meta %}
      {% endfor %}

    </div>
  </div>
</div>